@model Laser.Orchard.Questionnaires.Settings.QuestionnairesPartSettingVM

    <h2>@T("Settings - Questionnaire Part")</h2>
<fieldset>
    <label for="@Html.FieldIdFor(m => m.QuestionsLimitsNumber)" >@T("Limit the number of questions") </label>
    @Html.EditorFor(m => m.QuestionsLimitsNumber, new { @class = "text medium " })
    <span class="hint">@T("Set the Limit of number of questions , default is 0 (No limits)")</span>
</fieldset>
<fieldset>
    <label for="@Html.FieldIdFor(m => m.QuestionsResponseLimitsNumber)" >@T("Limit the number of answer for each questionnaire") </label>
    @Html.EditorFor(m => m.QuestionsResponseLimitsNumber, new { @class = "text medium " })
    <span class="hint">@T("Set the Limit of number of answer for each questionnaire , default is 0 (No limits)")</span>
</fieldset>
<fieldset>
    <label for="@Html.FieldIdFor(m => m.QuestionsSortedRandomlyNumber)" >@T("Number of questions sorted Randomly") </label>
    @Html.EditorFor(m => m.QuestionsSortedRandomlyNumber, new { @class = "text medium " })
    <span class="hint">@T("Set the Limit of number of questions sorted randomly , default is 0 (No limits)")</span>
</fieldset>
<fieldset>
    <div class="checkbox-and-label">
        @Html.CheckBoxFor(m => m.RandomResponse)
        <label for="@Html.FieldIdFor(m => m.RandomResponse)" class="forcheckbox">@T("Random Response") </label>
        <span class="hint">@T("Default is false. If selected response will be showed randomly")</span>
    </div>
</fieldset>
<fieldset>
    <div class="checkbox-and-label">
        @Html.CheckBoxFor(m => m.ShowCorrectResponseFlag)
        <label for="@Html.FieldIdFor(m => m.ShowCorrectResponseFlag)" class="forcheckbox">@T("Show Correct Response Option") </label>
        <span class="hint">@T("Default is false. If selected a Correct Response Option will be visible in back office")</span>
    </div>
</fieldset>
 <h2>@T("Settings - Questionnaire Part - Images")</h2>
<fieldset>
    <div class="checkbox-and-label">
        @Html.CheckBoxFor(m => m.EnableQuestionImage)
        <label for="@Html.FieldIdFor(m => m.EnableQuestionImage)" class="forcheckbox">@T("Enable Question's Image") </label>
        <span class="hint">@T("Default is false. ")</span>
    </div>
</fieldset>
<fieldset>
    <div class="checkbox-and-label">
        @Html.CheckBoxFor(m => m.EnableAnswerImage)
        <label for="@Html.FieldIdFor(m => m.EnableAnswerImage)" class="forcheckbox">@T("Enable Answer's Image") </label>
        <span class="hint">@T("Default is false.")</span>
    </div>
</fieldset>
<fieldset>
    <div class="checkbox-and-label">
        @Html.EditorFor(m => m.QuestionImageLimitNumber)
        <label for="@Html.FieldIdFor(m => m.QuestionImageLimitNumber)" >@T("Limit the number of images for each question") </label>
        <span class="hint">@T("Default 0 (no limit)")</span>
    </div>
</fieldset>
<fieldset>
    <div class="checkbox-and-label">
        @Html.EditorFor(m => m.AnswerImageLimitNumber)
        <label for="@Html.FieldIdFor(m => m.AnswerImageLimitNumber)" >@T("Limit the number of images for each answer") </label>
        <span class="hint">@T("Default 0 (no limit)")</span>
    </div>
</fieldset>
