 <a class="button primaryAction" href="@Url.Action("Getcsrf", "Admin", new { area = "Laser.Orchard.DevTools"})" title="@T("Get my CsrfToken")">@T("Get my CsrfToken")</a>
 <a class="button primaryAction" href="@Url.Action("ShowScheduledTask", "Admin", new { area = "Laser.Orchard.DevTools"})" title="@T("Show scheduled task")">@T("Show scheduled task")</a>
 <a class="button primaryAction" href="@Url.Action("GetValidApiKey", "Admin", new { area = "Laser.Orchard.DevTools"})" title="@T("Get my ApiKey")">@T("Get my ApiKey")</a>
