@model Laser.Orchard.DevTools.ViewModels.Segnalazione
<a class="button primaryAction" href="@Url.Action("Getcsrf", "Admin", new { area = "Laser.Orchard.DevTools" })" title="@T("Get my CsrfToken")">@T("Get my CsrfToken")</a>
<a class="button primaryAction" href="@Url.Action("ShowScheduledTask", "Admin", new { area = "Laser.Orchard.DevTools" })" title="@T("Show scheduled task")">@T("Show scheduled task")</a>
<a class="button primaryAction" href="@Url.Action("ShowCachedData", "Admin", new { area = "Laser.Orchard.DevTools" })" title="@T("Show Cached Data")">@T("Show Cached Data")</a>
<a class="button primaryAction" href="@Url.Action("ShowLog", "Admin", new { area = "Laser.Orchard.DevTools" })" title="@T("Show Error Log")">@T("Show Error Log")</a>
<a class="button primaryAction" href="@Url.Action("ShowLogInfo", "Admin", new { area = "Laser.Orchard.DevTools" })" title="@T("Show Info Log")">@T("Show Info Log")</a>
<a class="button primaryAction" href="@Url.Action("GetValidApiKey", "Admin", new { area = "Laser.Orchard.DevTools" })" title="@T("Get my ApiKey")">@T("Get my ApiKey")</a>
<a class="button primaryAction" href="@Url.Action("ShowRazor", "Admin", new { area = "Laser.Orchard.DevTools" })" title="@T("Show Razor")">@T("Show Razor")</a>
<br />
<a class="button primaryAction" href="@Url.Action("index", "pushnotification", new { area = "Laser.Orchard.Mobile" })" title="@T("DeviceList")">@T("DeviceList")</a>
<!--
    <a class="button primaryAction" href="@Url.Action("GetList", "adminranking", new { area = "Laser.Orchard.Questionnaires" })" title="@T("RankingList")">@T("Ranking List")</a>
-->
<a class="button primaryAction" href="@Url.Action("ListAll", "PaymentInfo", new { area = "Laser.Orchard.PaymentGateway" })" title="@T("Payment list")">@T("Payment list")</a>
<a class="button primaryAction" href="@Url.Action("ShowCustomHqlQuery", "Admin", new { area = "Laser.Orchard.DevTools" })" title="@T("Custom HQL query")">@T("Custom HQL query")</a>
<br />
<fieldset>
    @if (!string.IsNullOrEmpty(Model.Testo)) {
        @Html.TextAreaFor(x => x.Testo, new { style = "width: 100%; height: 600px;" })
    }
</fieldset>