@using (Script.Head()) {
    Script.Require("jQuery_DataTables").AtHead();
    Style.Require("jQuery_DataTables").AtHead();
}
@using (Script.Foot()) {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#jquerytable').DataTable();
        });
    </script>
}
<table id="jquerytable" class="display" cellspacing="0" width="100%">
    <thead>
        <th>Key</th>
        <th>Action</th>
        <th>Action</th>
        <th>Action</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td><a class="button primaryAction" href="@Url.Action("ShowCachedDataClear", "Admin", new { area = "Laser.Orchard.DevTools" })" title="@T("Clear All Cache")">@T("Clear All Cache")</a></td>
            <td><a class="button primaryAction" href="@Url.Action("ShowCachedDataClearFileSystem", "Admin", new { area = "Laser.Orchard.DevTools" })" title="@T("Clear All Cache")">@T("Clear All Data Cached to filesystem")</a></td>
        </tr>
    </tfoot>
    @foreach (string sc in Model) {
        <tr>
            <td>@sc&nbsp</td>
            <td>
                <a class="button primaryAction" href="@Url.Action("ShowCachedDataEdit", "Admin", new { area = "Laser.Orchard.DevTools", key = sc })" title="@T("Edit")">@T("Edit")</a></td>
            <td>
                <a class="button primaryAction" href="@Url.Action("ShowCachedDataClear", "Admin", new { area = "Laser.Orchard.DevTools", key = sc })" title="@T("Remove")">@T("Remove Cache")</a></td>
            <td>
                <a class="button primaryAction" href="@Url.Action("ShowCachedDataClearFileSystem", "Admin", new { area = "Laser.Orchard.DevTools", key = sc })" title="@T("Remove")">@T("Remove FileSystem")</a>
            </td>

        </tr>
    }
</table>
