@using (Script.Head()) {
    Script.Require("jQuery_DataTables").AtHead();
    Style.Require("jQuery_DataTables").AtHead();
}
@using (Script.Foot()) {
<script type="text/javascript">
    $(document).ready(function () {
        $('#jquerytable').DataTable();
    });
</script>
}
<table id="jquerytable"  class="display" cellspacing="0" width="100%">
<thead>
<tr>
<th>Id - schedule</th>
<th>ScheduledUtc</th>
<th>TaskType</th>
<th>Id Content Version</th>
<th>Data</th>
<th>Action</th>
</tr>
</thead>
    @foreach (Orchard.Core.Scheduling.Models.ScheduledTaskRecord sc in Model) {
        <tr >
<td >@sc.Id&nbsp;</td>
<td >@sc.ScheduledUtc&nbsp;</td>
  <td >  @sc.TaskType&nbsp;  </td>  
      
       @if (sc.ContentItemVersionRecord!=null){
           if (sc.ContentItemVersionRecord.Infoset!=null){
               <td >@sc.ContentItemVersionRecord.ContentItemRecord.Id  versione @sc.ContentItemVersionRecord.Id</td>
         <td >  @sc.ContentItemVersionRecord.Infoset.Data</td>
    }
    else { <td>  </td>
           <td>  </td>
           }
    }
        else { <td >  </td>
           <td >  </td>
           }
            <td>  <a class="button primaryAction" href="@Url.Action("DeleteScheduledTask", "Admin", new { area = "Laser.Orchard.DevTools", key = sc.Id })" title="@T("Remove")">@T("Remove Task")</a>  </td>

</tr>
}
</table>