@**@
<table style="border: 1px solid black;">
<thead>
<tr style="border: 1px solid black;">
<th style="border: 1px solid black;">Id - schedule</th>
<th style="border: 1px solid black;">ScheduledUtc</th>
<th style="border: 1px solid black;">TaskType</th>
<th style="border: 1px solid black;">Id Content</th>
<th style="border: 1px solid black;">Data</th>
</tr>
</thead>
    @foreach (Orchard.Core.Scheduling.Models.ScheduledTaskRecord sc in Model) {
        <tr style="border: 1px solid black;">
<td style="border: 1px solid black;">@sc.Id&nbsp</td>
<td style="border: 1px solid black;">@sc.ScheduledUtc&nbsp</td>
  <td style="border: 1px solid black;">  @sc.TaskType&nbsp  </td>  
      
       @if (sc.ContentItemVersionRecord!=null){
           if (sc.ContentItemVersionRecord.Infoset!=null){
               <td style="border: 1px solid black;">  @sc.ContentItemVersionRecord.Id</td>
         <td style="border: 1px solid black;">  @sc.ContentItemVersionRecord.Infoset.Data</td>
    }
    else { <td style="border: 1px solid black;">  </td>
           <td style="border: 1px solid black;">  </td>
           }
    }
        else { <td style="border: 1px solid black;">  </td>
           <td style="border: 1px solid black;">  </td>
           }

</tr>
}
</table>