@model Laser.Orchard.PaymentGateway.Models.PayButtonPartSettings
<fieldset>
    <div>
        @Html.LabelFor(m => m.AmountField)
        @Html.TextBoxFor(m => m.AmountField)
        @Html.LabelFor(m => m.CurrencyField)
        @Html.TextBoxFor(m => m.CurrencyField)
        @Html.LabelFor(m => m.DefaultCurrency)
        @Html.TextBoxFor(m => m.DefaultCurrency)
    </div>
</fieldset>
