@model Laser.Orchard.MailCommunication.Models.MailCommunicationPart
<fieldset>
    <legend>@Html.LabelFor(m => m.SendOnNextPublish, T("Send on next publish"))</legend>
    @Html.CheckBoxFor(model => model.SendOnNextPublish)
</fieldset>
<fieldset>
    <legend>@Html.LabelFor(m => m.SendOnNextPublish, T("Send for test"))</legend>
    @Html.CheckBoxFor(model => model.SendToTestEmail)
</fieldset>
<fieldset>
    <legend>@Html.LabelFor(m => m.SendOnNextPublish, T("Test Email"))</legend>
    @Html.TextBoxFor(model => model.EmailForTest)
    <button type="submit" name="submit.Save" value="submit.MailTest">@T("Send for test")</button>
</fieldset>
@if (!Model.MailMessageSent) { 
    @T("Message not yet sent.")
} else {
    @T("Message already sent.")
}
