@model Laser.Orchard.MailCommunication.Models.MailerSiteSettingsPart

<fieldset>
    <legend>@T("Mailer")</legend>
    <div>
        <label for="@Html.FieldIdFor(m => m.RecipientsPerJsonFile)">@T("Page Size for recipients")</label>
        @Html.TextBoxFor(m => m.RecipientsPerJsonFile, new { @class = "text large" })
        <span class="hint">@T("Max number of recipients in each JSON file created by massive mailer.")</span>
    </div>
    <div>
        <label for="@Html.FieldIdFor(m => m.MailPriority)">@T("Mail priority")</label>
        @Html.DropDownListFor(m => m.MailPriority, new SelectList(Enum.GetNames(typeof(Laser.Orchard.MailCommunication.MailPriorityValues)), Model.MailPriority))
        <span class="hint">@T("The priority to set on each mail.")</span>
    </div>
    <div>
        <label for="@Html.FieldIdFor(m => m.FtpHost)">@T("FTP host")</label>
        @Html.TextBoxFor(m => m.FtpHost, new { @class = "text large" })
        <span class="hint">@T("Remote FTP host (name or IP address).")</span>
    </div>
    <div>
        <label for="@Html.FieldIdFor(m => m.FtpUser)">@T("FTP user")</label>
        @Html.TextBoxFor(m => m.FtpUser, new { @class = "text large" })
        <span class="hint">@T("User for FTP connection.")</span>
    </div>
    <div>
        <label for="@Html.FieldIdFor(m => m.FtpPassword)">@T("FTP password")</label>
        @Html.TextBoxFor(m => m.FtpPassword, new { @class = "text large" })
        <span class="hint">@T("Password for FTP connection.")</span>
    </div>
    <div>
        <label for="@Html.FieldIdFor(m => m.FtpPath)">@T("FTP path")</label>
        @Html.TextBoxFor(m => m.FtpPath, new { @class = "text large" })
        <span class="hint">@T("Remote path for FTP connection.")</span>
    </div>
    <div>
        <label for="@Html.FieldIdFor(m => m.TokenValidity)">@T("Token validity (days)")</label>
        @Html.TextBoxFor(m => m.TokenValidity, new { @class = "text large" })
        <span class="hint">@T("Validity (in days) of the token used by massive mailer to return the number of sent mails.")</span>
    </div>
    <div>
        @Html.LabelFor(m => m.TemplateUnsubscribe.TemplateIdSelected, T("Pick a template Unsubscribe"))
        @Html.DropDownListFor(m=>m.TemplateUnsubscribe.TemplateIdSelected, new SelectList(Model.TemplateUnsubscribe.TemplatesList, "Id","Title", Model.TemplateUnsubscribe.TemplateIdSelected))
        <span class="hint">@T("The template to use for.")</span>
    </div>
</fieldset>

