@model Laser.Orchard.CommunicationGateway.ViewModels.SearchIndexVM
@using Orchard.Security
@using Laser.Orchard.CommunicationGateway.ViewModels
@{
    var ContentsIndexVM = Model.ContentsIndexVM;
    Layout.Title = T("Contact");
}

<div class="manage">
    <a class="button primaryAction" href="@Url.Action("Edit", "ContactsAdmin", new { area = "Laser.Orchard.CommunicationGateway", id = 0 })" title="@T("Create New Contact")">@T("Create New Contact")</a>
</div>
@if (Authorizer.Authorize(StandardPermissions.SiteOwner)) {
    <div class="manage">
        <a class="button primaryAction" href="@Url.Action("Synchronize", "ContactsAdmin", new { area = "Laser.Orchard.CommunicationGateway" })" title="@T("Synchronize")">@T("Synchronize")</a>
    </div>
}
@using (Html.BeginFormAntiForgeryPost(Url.Action("ImportCsv", "ContactsAdmin", new { area = "Laser.Orchard.CommunicationGateway" }), FormMethod.Post, new { enctype = "multipart/form-data" })) {
    <input type="file" name="csvFile" id="csvFile" />
    <button type="submit">@T("Import")</button>
    <script type="text/javascript">
        function showImportErrors() {
            $("#divImportErrors").css("display", "block");
        }
        function hideImportErrors() {
            $("#divImportErrors").css("display", "none");
        }
    </script>
    <div id="divImportErrors" class="contentItems" style="display:none;width:100%;height:100px;overflow:scroll">@Html.Raw(Model.ImportErrors)<br />
        <a href="javascript:hideImportErrors()">X @T("Close")</a>
    </div>
}
@using (Html.BeginForm("Index", "ContactsAdmin", FormMethod.Get)) {
    <fieldset class="bulk-actions">
        <label for="search">@T("Search:")</label>
        @Html.TextBoxFor(m => m.Search.Expression)
        <label>@T("Filter by")</label>
        @Html.DropDownListFor(m => m.Search.Field, new SelectList(Enum.GetValues(typeof(SearchFieldEnum))))
        <button type="submit" name="submitFrom" value="submit.Search">@T("Search")</button>
        <a href="@Url.Action("Index")">@T("Clear")</a>
        <div class="manage" style="">
            <button class="button primaryAction" style="margin-left:4px" type="submit" name="submitFrom" value="submit.Export">@T("Export")</button>
        </div>
    </fieldset>
}
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <fieldset class="contentItems bulk-items">
        <ul>
            @{
    foreach (var contentIndexVM in ContentsIndexVM) {
                <li>
                    <div class="summary" itemscope="itemscope" itemid="@contentIndexVM.Id" itemtype="http://orchardproject.net/data/ContentItem">
                        <div class="properties">
                            <h3><a href="@Url.Action("Edit", "ContactsAdmin", new { area = "Laser.Orchard.CommunicationGateway", id = contentIndexVM.Id })">@contentIndexVM.Title</a></h3>
                            <div class="contentType">
                                @(string.IsNullOrEmpty(contentIndexVM.PreviewEmail) ? "" : " - " + contentIndexVM.PreviewEmail)
                                @(string.IsNullOrEmpty(contentIndexVM.PreviewSms) ? "" : " - " + contentIndexVM.PreviewSms)
                            </div>
                            <div class="metadata">
                                <ul class="pageStatus">
                                    <li>@T("Last modified"):
                    @{TimeSpan tp = DateTime.UtcNow - (contentIndexVM.ModifiedUtc ?? DateTime.UtcNow);// content.CommonPart.ModifiedUtc;
                      if (tp.Days > 0) {
                        @Html.Raw(tp.Days.ToString() + " " + T("days ago"))
                      } else if (tp.Hours > 0) {
                        @Html.Raw(tp.Hours.ToString() + " " + T("hours ago"))
                      } else if (tp.Minutes > 0) {
                        @Html.Raw(tp.Minutes.ToString() + " " + T("minutes ago"))
                      } else if (tp.Seconds > 0) {
                        @Html.Raw(T("a moment ago"))
                      }
                        @Html.Raw("&nbsp;&vert;&nbsp;")
                    }
                                    </li>
                                    <li>@T("By") @contentIndexVM.UserName
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="related">
                            <a href="@Url.Action("Edit", "ContactsAdmin", new { area = "Laser.Orchard.CommunicationGateway", id = contentIndexVM.Id })">@T("Edit")</a>
                            &nbsp;&vert;&nbsp;
                        <a href="@Url.Action("Remove", "ContactsAdmin", new { area = "Laser.Orchard.CommunicationGateway", id = contentIndexVM.Id })" itemprop="RemoveUrl UnsafeUrl">@T("Delete")</a>
                        </div>
                    </div>
                </li>
    }
            }
        </ul>
    </fieldset>
}
<br />
@Display(Model.Pager)
@*@using (Html.BeginForm("Index", "Routes", FormMethod.Post)) {
}
 *@