@model Laser.Orchard.Reporting.ViewModels.ReportDisplayViewModel
@using Orchard.ContentManagement
@{ 
    Style.Include("jquery-ui.css");
    Style.Include("jquery.jqplot.css");
    Style.Include("reporting.css");
    Script.Require("jQueryUI_Widget").AtHead();
    Script.Require("jqplot").AtHead();
    Script.Require("barjqplot").AtHead();
    Script.Require("categoryAxisjqplot").AtHead();
    Script.Require("piejqplot").AtHead();
    Script.Require("donutRendererjqplot").AtHead();
    Script.Require("Chosen").AtHead();
    Script.Require("Reporting").AtHead();
    Script.Require("chart.settings").AtHead();
    IContentManager contentManager = null;
    WorkContext.TryResolve<IContentManager>(out contentManager);
}
<p class="breadcrumb"><a href="@Url.Action("ShowReports", "Report", new { area = "Laser.Orchard.Reporting" })">@T("Reports List")</a> &#62; @T("Execute report")</p>
@if(Model.FilterContent != null) {
    using (Html.BeginFormAntiForgeryPost(Url.Action("DisplayChart"))) {
        <div id="reportFilters">
            <input type="hidden" name="id" value="@Model.Id" />
            @Display(contentManager.BuildEditor(Model.FilterContent))
            <button class="primaryAction" type="button" value="@T("Refresh")" id="btnRefresh">@T("Refresh")</button>
        </div>
    }
    <div id="divReportViewer"></div>
    <script type="text/javascript">
        $(function () {
            $("#reportFilters button[value='submit.Save']").hide();
            var theForm = $("#reportFilters").parent();
            $("#btnRefresh").click(function () {
                $("#divReportViewer").html("<label>@T("Loading report...")</label>");
                $.post(theForm.attr("action"), theForm.serialize(), function (data) {
                    $("#divReportViewer").html(data);
                });
            });
        });
    </script>
} else {
    @Display(BuildDisplay(Model.ViewerContent, "Detail"))
}
