@model Laser.Orchard.PaymentGateway.Models.PaymentRecord

<h2>@T("Payment details")</h2>
@T("POS"): @Model.PosName<br />
@T("Reason"): @Model.Reason<br />
@T("Amount"): @Model.Amount.ToString("0.00") @Model.Currency<br />
@T("Date"): @Model.UpdateDate.ToString("yyyy-MM-dd HH:mm")<br />

@if(Model.Success) {
    <text>@T("Outcome"): @T("Succeeded")<br />
    @T("Transacion ID"): @Model.TransactionId<br /></text>
} else {
    <text>@T("Outcome"): @T("Failed")<br />
    @T("Error"): @Model.Error<br /></text>
}
<br />