@*
    This shape displays a term and all content items associated to it.
    - ContentItems is a List shape
    - Pager is a Pager shape
    - Taxonomy is the parent taxonomy
    - ContentPart is the TermPart displayed
*@
@{
    Script.Require("jQueryColorBox").AtHead();
    Style.Require("jQueryColorBox").AtHead();

    Model.ContentItems.Classes.Add("content-items");

    var nItems = Model.ContentItems.Items.Count;
    int splitAt = (nItems - 1) / 2;
    var i = 0;
}
@foreach (var contentItem in Model.ContentItems.Items) {
    var separatorClass = "hline2";
    if (i == 0) { 
    @Html.Raw("<div class=\"grid_6 alpha\">")
    } else if (i > splitAt) { 
    @Html.Raw("</div><div class=\"grid_6 omega\">")
    }
    if ((i == nItems - 1 && nItems % 2 == 0) || i == splitAt) {
        separatorClass = "";
    }
    <div class="wrapper @separatorClass">
        <a rel="product-colorbox" href="@contentItem.ContentItem.Prodotto.ProductPicture.MediaParts[0].MediaUrl" title="@contentItem.ContentItem.TitlePart.Title">
            <img src="@Display.ResizeMediaUrl(Width: 140, Height: 140, Mode: "crop", Alignment: "middlecenter", Path: contentItem.ContentItem.Prodotto.ProductPicture.MediaParts[0].MediaUrl)" alt="" class="img4 no_resize"/>
            <div class="box2">
                <h2>@contentItem.ContentItem.TitlePart.Title</h2>
                @Html.Raw(contentItem.ContentItem.BodyPart.Text)
            </div>
        </a>
    </div>
    i++;
}
@if (nItems > 0) {
    @Html.Raw("</div>")
    using (Script.Foot()) { 
    <script type="text/javascript">
        $("a[rel='product-colorbox']").colorbox({
            innerWidth: '80%',
            innerHeight: '60%',
        });
    </script>
    }
}

