@{
    Script.Require("jQueryColorBox").AtHead();
    Style.Require("jQueryColorBox").AtHead();
}
@{
    var HighlightsService = WorkContext.Resolve<Laser.Orchard.Highlights.Services.IHighlightsService>();
    var nItems = Model.HighlightsItems.Count;
    int splitAt = (nItems - 1) / 2;
    var i = 0;
}
@foreach (var item in Model.HighlightsItems) {
    var separatorClass = "hline2";
    if (i == 0) { 
    @Html.Raw("<div class=\"grid_6 alpha\">")
    } else if (i > splitAt) { 
    @Html.Raw("</div><div class=\"grid_6 omega\">")
    }
    if ((i == nItems - 1 && nItems % 2 == 0) || i == splitAt) {
        separatorClass = "";
    }
    if (Model.ContentPart.ItemsSourceType == Laser.Orchard.Highlights.Enums.ItemsSourceTypes.ByHand) {
    @Display(item.Content)} else if (Model.ContentPart.ItemsSourceType == Laser.Orchard.Highlights.Enums.ItemsSourceTypes.FromQuery) {
        //FromQuery
        var shape = HighlightsService.CreateHighlightsItemShape(item, Model.HighlightsGroup.DisplayTemplate.ToString());
    @Display(shape)
    }
    i++;
}
@if (nItems > 0) {
    @Html.Raw("</div>")
}