@using Orchard.UI.Resources;
@{
    Script.Require("GoogleMapsAPI").AtHead();
    Style.Require("GoogleMaps").AtHead();
    var ID = Model.ContentItem.Id;
}
@{
    if (Model.Latitude > 0) {
            using (Script.Foot()) {
    <script type="text/javascript">
        function @("initialize" + ID + "()") {
            var mapOptions = {
            scaleControl: true,
            center: new google.maps.LatLng(@Model.Latitude.ToString().Replace(",", "."),@Model.Longitude.ToString().Replace(",", ".")),
                    zoom: 15,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };

                var map = new google.maps.Map(document.getElementById('map_canvas-@ID'),
                    mapOptions);

                var marker = new google.maps.Marker({
                    map: map,
                    position: map.getCenter()
                });
                var infowindow = new google.maps.InfoWindow();
                infowindow.setContent('<span class="map-locationinfo-marker">@(Model.LocationInfo == null ? Layout.Title : Model.LocationInfo)</span><span class="map-locationaddress-marker">@Model.LocationAddress</span>');
                    google.maps.event.addListener(marker, 'click', function () {
                        infowindow.open(map, marker);
                    });
            }

            google.maps.event.addDomListener(window, 'load', @("initialize" + ID) );
    </script>
            }
    <div class="map-canvas" id="map_canvas-@ID">
    </div>
    }
}