@using Orchard.ContentManagement
@model Laser.Orchard.Policy.Models.UserPolicyPart
@{
    IContentManager contentManager;
    WorkContext.TryResolve<IContentManager>(out contentManager);
    Style.Require("FontAwesome430").AtHead();
}
<fieldset>
    <legend>@T("Policy acceptances")</legend>
    <table class="items">
        <thead>
            <tr>
                <th>@T("Policy Text")</th>
                <th>@T("Accepted")</th>
                <th>@T("Answer date")</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.UserPolicyAnswers) {
                var dynContent = ((dynamic)contentManager.Get(item.PolicyTextInfoPartRecord.Id, VersionOptions.Latest));
                if (dynContent != null) {
                <tr>
                    <td>
                        @(dynContent.TitlePart.Title)
                    </td>
                    <td>@if (item.Accepted) {
                        <i class="fa fa-check-circle" style="color: green"></i> 
                            if (item.PolicyTextInfoPartRecord.PolicyType == null || item.PolicyTextInfoPartRecord.PolicyType == Laser.Orchard.Policy.PolicyTypeOptions.Policy) {
                        @T("Accepted")
                            } else {
                        @T("Read")
                            }
                        } else {
                        <i class="fa fa-exclamation-triangle" style="color: red"></i> 
                            if (item.PolicyTextInfoPartRecord.PolicyType == null || item.PolicyTextInfoPartRecord.PolicyType == Laser.Orchard.Policy.PolicyTypeOptions.Policy) {
                        @T("Not Accepted")
                            } else {
                        @T("Unread")
                            }
                        }</td>
                    <td>@item.AnswerDate</td>
                </tr>
                }
            }
            @if (Model.UserPolicyAnswers == null || Model.UserPolicyAnswers.Count() == 0) { 
                <tr>
                    <td colspan="3">@T("User never accepted policies.")</td>
                </tr>
            }
        </tbody>
    </table>
</fieldset>
