@using Laser.Orchard.Questionnaires.ViewModels
@using System.Linq

@model List<QuestionnaireStatsViewModel>
@using (Script.Foot()) {
    @Display.DatePickerLocalization()
    <script type="text/javascript">
        //<![CDATA[
        $(function () {
            $('#dateFromResults').datepicker({ showAnim: "", changeYear: true, changeMonth: true });
            $('#dateToResults').datepicker({ showAnim: "", changeYear: true, changeMonth: true });
        });
        //]]>
    </script>
}
@{
    const int answersToShow = 3;
    Layout.Title = T("Questionnaire Answers");

    Script.Require("jqPlotPieChart");

    Style.Require("jqPlot");
    Style.Require("QuestionnaireAdmin");
    var urlBack = Url.Action("Detail", new { idQuestionario = Request.QueryString["idQuestionario"] });
}

<p class="breadcrumb">
    <a href="@Url.Action("Index", "QuestionnaireStats", new { area = "Laser.Orchard.Questionnaires" })">@T("Questionnaire Statistics")</a>
    &#62; @Layout.Title
</p>
<h3><u>@Model.First().QuestionnaireTitle</u></h3>
@using (Html.BeginForm("Detail", "QuestionnaireStats", FormMethod.Get)) {
    <fieldset class="bulk-actions">
        <label for="search">@T("Search:")</label>
        @*        @Html.TextBoxFor(m => m.SearchExpression)*@
        <label for="dateFromResults" class="bulk-filter">@T("Date From")</label>
        @Html.TextBox("from", Request.QueryString["from"], new { id = "dateFromResults" })
        <label for="dateToResults" class="bulk-filter">@T("Date To")</label>
        @Html.TextBox("to", Request.QueryString["to"], new { id = "dateToResults" })

        @Html.Hidden("idQuestionario", Request.QueryString["idQuestionario"])
        <button type="submit">@T("Filter")</button>
        <button type="submit" name="export" value="true">@T("Export")</button>
        <a href="@Url.Action("Detail", new { idQuestionario = Request.QueryString["idQuestionario"] })">@T("Clear")</a>
        <span style="width:50px">&nbsp;</span>
        <a href="@Url.Action("Index", "FileExport", new { area = "Laser.Orchard.StartupConfig", UrlBack = urlBack })&FolderName=QuestionnairesStatistics">@T("Show Exported Files")</a>
    </fieldset>
}

@if (Model.Count == 1 && Model.First().Answers == null) {
    <div style="margin-top: 15px;">@T("This questionnaire contains no answers.")</div>
}
else {
    <div style="margin-top: 15px;">
        @{
    foreach (var question in Model) {
            <div id="answer-@question.QuestionId" class="answer">
                <div id="answerlist-@question.QuestionId" class="answerlist">
                    <h5>@question.Question</h5>
                    @{
        List<AnswerStatsViewModel> answersList = new List<AnswerStatsViewModel>();

        if (question.QuestionType == Laser.Orchard.Questionnaires.QuestionType.OpenAnswer) {
            answersList = question.Answers.OrderByDescending(x => x.Count).ThenBy(x => x.Answer).Take(answersToShow).ToList();
        }
        else {
            answersList = question.Answers.OrderByDescending(x => x.Count).ThenBy(x => x.Answer).ToList();
        }
                    }

                    @foreach (var answer in answersList) {
                        <div>
                            &bull; @answer.Answer
                            <span style="font-weight: bold">( @answer.Count )</span>
                        </div>
                    }
                </div>

                @if (question.QuestionType != Laser.Orchard.Questionnaires.QuestionType.OpenAnswer) {
                    <div id="answerchart-@question.QuestionId" class="answerchart"></div>
                }
            </div>

                if (question.QuestionType == Laser.Orchard.Questionnaires.QuestionType.OpenAnswer && question.Answers.Count > answersToShow) {
            <div style="margin-top: 5px; margin-left: 9px;">
                <a href="@Url.Action("QuestionDetail", "QuestionnaireStats",
                           new {
                               area = "Laser.Orchard.Questionnaires",
                               idQuestionario = Model.First().QuestionnairePart_Id,
                               idDomanda = question.QuestionId,
                               from = Request.QueryString["from"],
                               to = Request.QueryString["to"]
                           })">
                    @T("Show all answers")
                </a>
            </div>
                }
            <br />
    }
        }
    </div>
}

@{
    using (Script.Foot()) {
    <script type="text/javascript">
        $(document).ready(function () {
                @foreach (var question in Model) {
                    if (question.QuestionType != Laser.Orchard.Questionnaires.QuestionType.OpenAnswer) {                        
                        <Text>
            var data = [];
                        @if (question.Answers != null) {
                            foreach (var answer in question.Answers) {
                                <Text>data.push(['@answer.Answer', @answer.Count]);</Text>
                            }
                        }
            $.jqplot('answerchart-@question.QuestionId', [data], {
                title: '@question.Question',
                seriesDefaults: {
                    renderer: jQuery.jqplot.PieRenderer,
                    rendererOptions: {
                        showDataLabels: true,
                        dataLabelFormatString: '%.2f'
                    }
                },
                legend: { show: true, location: 'e' }
            });
            </Text>
                    }
                }
        });
    </script>
    }
}