@model Laser.Orchard.Events.ViewModels.ActivityViewModel
@{
    var repeatTypes = new Dictionary<string, string>();
    repeatTypes.Add(T("days").ToString(), "D");
    repeatTypes.Add(T("weeks").ToString(), "W");
    repeatTypes.Add(T("months").ToString(), "M");
    repeatTypes.Add(T("years").ToString(), "Y");
    var repeatTypeList = new SelectList(repeatTypes, "Value", "Key", Model.RepeatType);
    var useRecurrences = Model.Settings.UseRecurrences;
}
<fieldset>
    <legend>@T("Event Data").ToString()</legend>

    <div style="margin: 0 0 5px 0;">
        @Html.LabelFor(m => m.DateStart, T("Start date"))
        @Html.TextBoxFor(m => m.DateStart, new { @class = "text" })
        @Html.TextBoxFor(m => m.TimeStart, new { @class = "time text-small" })
    </div>
    <div style="margin: 0 0 5px 0;">
        @Html.LabelFor(m => m.DateEnd, T("End date"))
        @Html.TextBoxFor(m => m.DateEnd, new { @class = "text" })
        @Html.TextBoxFor(m => m.TimeEnd, new { @class = "time text-small" })
    </div>
    <div class="editor-field">
        <label>@Html.CheckBoxFor(m => m.AllDay) @T("All day")</label>
    </div>
    <div class="editor-field">
        @if (useRecurrences) {
            <label>@Html.CheckBoxFor(m => m.Repeat) @T("Repeat")</label>
        }
        else {
            @Html.HiddenFor(m => m.Repeat)
            @Html.HiddenFor(m => m.RepeatEndDate)
            @Html.HiddenFor(m => m.RepeatValue)
        }
    </div>
    @if (useRecurrences) {
        <div id="repeat">
            @Html.LabelFor(m => m.RepeatType, T("Repeat every:"))
            @Html.TextBoxFor(m => m.RepeatValue, new { @class = "text-small" })
            @Html.DropDownListFor(m => m.RepeatType, repeatTypeList)
            <div id="weekrepeatdetails" style="margin: 5px 0 0 0;">
                @Html.CheckBoxFor(m => m.Monday) @T("Monday")&nbsp
                @Html.CheckBoxFor(m => m.Tuesday) @T("Tuesday")&nbsp
                @Html.CheckBoxFor(m => m.Wednesday) @T("Wednesday")&nbsp
                @Html.CheckBoxFor(m => m.Thursday) @T("Thursday")&nbsp
                @Html.CheckBoxFor(m => m.Friday) @T("Friday")&nbsp
                @Html.CheckBoxFor(m => m.Saturday) @T("Saturday")&nbsp
                @Html.CheckBoxFor(m => m.Sunday) @T("Sunday")&nbsp
            </div>
            <div id="monthrepeatdetails" style="margin: 3px 0 0 0;">
                @T("Repeat by:")
                @Html.RadioButtonFor(m => m.RepeatByDayNumber, "true") @T("Day number")
                @Html.RadioButtonFor(m => m.RepeatByDayNumber, "false") @T("Day of the week")
                <span class="hint">@T("For example, selecting Monday 12/08/2014, Day Number means 'Repeat the 8th of the month' and Day of the Week means 'Repeat the 2nd Monday of the month'")</span>
            </div>
            <div style="margin: 5px 0 0 0;">
                @Html.LabelFor(m => m.RepeatEnd, T("Stop repeating:"))
                @Html.RadioButtonFor(m => m.RepeatEnd, "false") @T("Never")<br />
                @Html.RadioButtonFor(m => m.RepeatEnd, "true") @T("In date:")
                @Html.EditorFor(m => m.RepeatEndDate)
            </div>
        </div>
    }
</fieldset>

@using (Script.Foot()) {
    @Display.CalendarsPickerLocalization()
    @Display.TimeEntryLocalization()

    <script type="text/javascript">
        //<![CDATA[
        $(function () {

            //Visualizzo i campi DateTime oppure Date in base alla selezione o meno del campo AllDay
            if ('@Model.AllDay' == 'True') {
                $('.time').hide();
            } else {
                $('.time').show();
            }

            $('#@Html.FieldIdFor(m => m.AllDay)').click(function () {
                if ($('#@Html.FieldIdFor(m => m.AllDay)').is(':checked')) {
                    $('#@Html.FieldIdFor(m => m.DateStart)').datetimepicker("destroy");
                    $('#@Html.FieldIdFor(m => m.DateStart)').datetimepicker({ 'showTimepicker': false, showAnim: "", changeYear: true, changeMonth: true, altField: "#@Html.FieldIdFor(m => m.TimeStart)" });

                    $('#@Html.FieldIdFor(m => m.DateEnd)').datetimepicker("destroy");
                    $('#@Html.FieldIdFor(m => m.DateEnd)').datetimepicker({ 'showTimepicker': false, showAnim: "", changeYear: true, changeMonth: true, altField: "#@Html.FieldIdFor(m => m.TimeEnd)" });

                    $('.time').hide();
                }
                else {
                    $('#@Html.FieldIdFor(m => m.DateStart)').datetimepicker("destroy");
                    $('#@Html.FieldIdFor(m => m.DateStart)').datetimepicker({ 'showTimepicker': true, showAnim: "", changeYear: true, changeMonth: true, altField: "#@Html.FieldIdFor(m => m.TimeStart)" });


                    $('#@Html.FieldIdFor(m => m.DateEnd)').datetimepicker("destroy");
                    $('#@Html.FieldIdFor(m => m.DateEnd)').datetimepicker({ 'showTimepicker': true, showAnim: "", changeYear: true, changeMonth: true, altField: "#@Html.FieldIdFor(m => m.TimeEnd)" });

                    $('.time').show();
                }
            });

            //Visualizzo la sezione con le opzioni di ripetizione in base alla selezione o meno del campo Repeat
            if ('@Model.Repeat' == 'True') {
                $('#repeat').show();
            } else {
                $('#repeat').hide();
            }

            $('#@Html.FieldIdFor(m => m.Repeat)').click(function () {
                if ($('#@Html.FieldIdFor(m => m.Repeat)').is(':checked')) {
                    $('#repeat').show();
                } else {
                    $('#repeat').hide();
                }
            });

            //Visualizzo la sezione con le scelte di dettaglio sulla ripetizione degli eventi in base al tipo di ripetizione
            if ('@Model.RepeatType' == 'W') {
                $('#weekrepeatdetails').show();
                $('#monthrepeatdetails').hide();
            } else {
                $('#weekrepeatdetails').hide();
                $('#monthrepeatdetails').show();
            }

            if ('@Model.RepeatType' == 'M') {
                $('#monthrepeatdetails').show();
            } else {
                $('#monthrepeatdetails').hide();
            }

            $('#@Html.FieldIdFor(m => m.RepeatType)').change(function () {

                if ($('#@Html.FieldIdFor(m => m.RepeatType)').val() == 'W') {
                    $('#weekrepeatdetails').show();
                    $('#monthrepeatdetails').hide();
                    if (!$('#weekrepeatdetails input[type=checkbox]:checked').length) {
                        $('#@Html.FieldIdFor(m => m.Monday)').prop("checked", true);
                    }
                } else {
                    $('#weekrepeatdetails').hide();
                    $('#monthrepeatdetails').show();
                }

                if ($('#@Html.FieldIdFor(m => m.RepeatType)').val() == 'M') {
                    $('#monthrepeatdetails').show();
                } else {
                    $('#monthrepeatdetails').hide();
                }
            });
            @*
            $('#@Html.FieldIdFor(m => m.DateStart)').datetimepicker({ showAnim: "", changeYear: true, changeMonth: true, altField: "#@Html.FieldIdFor(m => m.TimeStart)" });
            $('#@Html.FieldIdFor(m => m.DateEnd)').datetimepicker({ showAnim: "", changeYear: true, changeMonth: true, altField: "#@Html.FieldIdFor(m => m.TimeEnd)" });
            $('#@Html.FieldIdFor(m => m.RepeatEndDate)').datepicker({ showAnim: "", changeYear: true, changeMonth: true });
            *@
            //new picker scripts since Orchard 1.10
            var dateRenderer = $.extend(
                {},
                $.calendarsPicker.themeRollerRenderer,
                {
                    picker: "<div {popup:start} id='ui-datepicker-div'{popup:end} class='ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all{inline:start} ui-datepicker-inline{inline:end}'><div class='ui-datepicker-header ui-widget-header ui-helper-clearfix ui-corner-all'>{link:prev}{link:today}{link:next}</div>{months}{popup:start}{popup:end}<div class='ui-helper-clearfix'></div></div>",
                    month: "<div class='ui-datepicker-group'><div class='ui-datepicker-month ui-helper-clearfix'>{monthHeader:MM yyyy}</div><table class='ui-datepicker-calendar'><thead>{weekHeader}</thead><tbody>{weeks}</tbody></table></div>"
                }
            );
            $('#@Html.FieldIdFor(m => m.DateStart)').calendarsPicker({
                showAnim: "",
                renderer: dateRenderer
            });
            @*
            $('#@Html.FieldIdFor(m => m.DateEnd)').calendarsPicker({
                showAnim: "",
                renderer: dateRenderer
            });
            $('#@Html.FieldIdFor(m => m.RepeatEndDate)').calendarsPicker({
                showAnim: "",
                renderer: dateRenderer
            });
            *@
        })

        //]]>
    </script>
}