@model Laser.Orchard.Events.ViewModels.ActivityDisplayViewModel

<div>
    @Html.LabelFor(m => m.DateTimeStart, T("Start date"))
    @Html.TextBoxFor(m => m.DateTimeStart)
    @Html.LabelFor(m => m.DateTimeEnd, T("End date"))
    @Html.TextBoxFor(m => m.DateTimeEnd)
    @Html.LabelFor(m => m.RepeatEndDate, T("Repeate date"))
    @Html.TextBoxFor(m => m.RepeatEndDate)

</div>
    

