@model List<Laser.Orchard.UserReactions.ViewModels.UserReactionsVM>
@using Laser.Orchard.UserReactions.Models
@using Laser.Orchard.UserReactions.ViewModels
@using Orchard.ContentManagement
@using Laser.Orchard.UserReactions.Services
@using Laser.Orchard.UserReactions
@{
    Script.Require("jQuery").AtHead();
    Script.Require("jQueryColorBox").AtHead();

    Style.Require("jQueryColorBox").AtHead();

   // List<Laser.Orchard.UserReactions.ViewModels.UserReactionsVM> part = Model;
      
    IUserReactionsService _reactionService;
    WorkContext.TryResolve<IUserReactionsService>(out _reactionService);
    

    var settings = WorkContext.CurrentSite.As<UserReactionsSettingsPart>();
    Style.Require(settings.StyleFileNameProvider.ToString());
  
}


@{foreach (var item in Model) {

      var quantità = "(" + item.Quantity + ")";
      var itemName = " " + _reactionService.GetReactionEnumTranslations((ReactionsNames)Enum.Parse(typeof(ReactionsNames), item.TypeName)) + " " + quantità;
      string attCSS = item.CssStyleName; 
           
    <div class="glyph">
        <span class="@attCSS"></span>
        <b id="@item.TypeId">@itemName</b>
    </div>
    
  } 
    
}
<a href="@Url.Action("ListSummaryReactionByUsers", "Admin", new { Area = "Laser.Orchard.UserReactions", Content = @Model.FirstOrDefault().Id, page=1, pageSize=10 })" class="colorbox"><button>Open summary</button></a>

<br />
@using (Script.Head()) {
     <script type="text/javascript">
         $(document).ready(function () {
             $('.colorbox').colorbox({ resize: false, iframe: true, href: $(this).href, innerWidth: "90%", innerHeight: "80%" });
         });
    </script>
}