@{
     Style.Require("Reactions");
}


@model List<Laser.Orchard.UserReactions.ViewModels.UserReactionsVM>


@{foreach (var item in Model) 
  { 
    
   var quantità = "(" + @item.Quantity + ")";
        var itemName = " " + @item.TypeName + " " + quantità;
        string attCSS = @item.CssName; 
           
        <div class="glyph">
        <span class="@attCSS"></span> 
        <b id="@item.TypeId">@itemName</b>
        </div>
    
    } 
    
} 
<br />   