@model List<Laser.Orchard.UserReactions.ViewModels.UserReactionsVM>

@{
    List<Laser.Orchard.UserReactions.ViewModels.UserReactionsVM> part = Model;

    var fileCss = part.FindLast(z => z.CssName != null).CssName.ToString();
    Style.Require(fileCss);
    

}


@{foreach (var item in Model) 
  { 
    
    var quantità = "(" + @item.Quantity + ")";
        var itemName = " " + @item.TypeName + " " + quantità;
        string attCSS = @item.CssStyleName; 
           
        <div class="glyph">
        <span class="@attCSS"></span> 
        <b id="@item.TypeId">@itemName</b>
        </div>
    
    } 
    
} 
<br />   