@using Nwazet.Commerce.Models
@using Orchard.ContentManagement
@{
    var items = (IList<dynamic>)Model.ShopItems;
    var subtotal = (decimal)Model.Subtotal;
    var root = HttpContext.Current.Request.ApplicationPath;
    var cartUrl = Url.Action("Index", "ShoppingCart", new { area = "NWazet.Commerce" });

    @Html.Hidden("Country", (string)Model.Country)
    @Html.Hidden("ZipCode", (string)Model.ZipCode)
    <a href="@cartUrl">
        <div class="total">
            <span class="simpleCart_total">@Model.CurrencyProvider.GetPriceString((decimal)Model.Total)</span>
            &nbsp;(<span class="simpleCart_quantity">@items.Count() @T("items")</span>)
        </div>
    </a>
}
