@model Orchard.Comments.Models.CommentPart
@{
    var subthemePath = Url.Content("~/Themes/IvreaMontalto/Styles");

    }
<div class="space-20"></div>
<hr class="linea" />
<div class="space-20"></div>
<div class="col-xs-2">
    <div class="container-img-utente pull-right">
        <img class="img-responsive" src="@subthemePath/images/utente.jpg">
    </div>
</div>
<div class="col-xs-10">

    @if (WorkContext.CurrentUser == null) {
        @Html.TextBoxFor(m => m.Author, new { @class = "partecipa", placeholder = "Inscerisci il tuo nome..." })
        <div class="space-20"></div>
        @Html.TextBoxFor(m => m.Email, new { @class = "partecipa", placeholder = "Inscerisci la tua email..." })
        <div class="space-20"></div>
    } else {
        @Html.Hidden("Name", WorkContext.CurrentUser.UserName ?? "")
        @Html.Hidden("Email", WorkContext.CurrentUser.Email ?? "")
    }
    @if (WorkContext.CurrentUser != null) { <h2 id="commenter">@if (WorkContext.CurrentUser != null) { @T("Hi, {0}!", Convert.ToString(Html.ItemDisplayText(WorkContext.CurrentUser)))}</h2>
        <div class="space-20"></div> }

    @Html.TextBoxFor(m => m.CommentText, new { @class = "partecipa", placeholder = "Partecipa alla discussione..." })
    @Html.HiddenFor(m => m.CommentedOn)
    @Html.HiddenFor(m => m.RepliedOn)

</div>
<div class="space-20"></div>
