@model Laser.Orchard.Queues.ViewModels.QueueEdit

<div class="j_queue">
    <table class="queuetable" style="margin-top:5px; width:100%;">
    <tr>
        <td class="leftside" style="width:45%">
            @Html.HiddenFor(x => x.Delete, new { @class = "mark-for-delete preserve-on-clean" })
            @Html.HiddenFor(x => x.Id, new { @class = "preserve-on-clean" })
            <label>@T("Name")</label>
            @Html.TextBoxFor(m => m.QueueName, new { @class = "text medium" })
        </td>
        <td style="width:15%">
            <label>@T("Number Distance")</label>
            @Html.TextBoxFor(m => m.TicketGap, new { @class = "text small" })
        </td>
        <td style="width:15%">
            <label>@T("Max Number")</label>
            @Html.TextBoxFor(m => m.MaxTicketNumber, new { @class = "text small" })
        </td>
        <td style="text-align:right; width:25%">
            <i class="fa fa-times" style="color:red; margin-right:2px;"></i>
            @Html.LinkToRemoveNestedForm(T("Remove").Text, ".j_queue", "input.mark-for-delete", "CleanFieldsOnRemove(this);")
        </td>
    <tr>
    </table>
</div>
