@model Laser.Orchard.UserReactions.ViewModels.UserReactionsTypeVM



@{ MvcHtmlString answerBlock = Html.UniqueClientId("UserReactionType"); }
@{ var phId = "phNum_" + answerBlock;

   Script.Require("Autocomplete").AtHead();
   var styleAcronime = new Laser.Orchard.UserReactions.StyleAcroName();
   string styleAcronimeName = styleAcronime.StyleAcronime;
}

<div id="@phId" class="j_reaction">
    <i class="fa fa-arrows"></i>
    @Html.HiddenFor(m => m.Delete, new { @class = "ph-mark-for-delete" })
    @Html.HiddenFor(m => m.Id)

    @*@Html.TextBoxFor(m => m.TypeName, new { placeholder = T("Name"), @class = "text medium" })*@
    @Html.DropDownListFor(m => m.TypeName, new SelectList(Enum.GetNames(typeof(Laser.Orchard.UserReactions.ReactionsNames))), Model.TypeName)

    @Html.HiddenFor(m => m.TypeCssClass, @styleAcronimeName + @Model.TypeName)

    @*@id="CssName" +  Model.Id, @onfocus="classNameChangeEvent(id);", *@

    @Html.TextBoxFor(m => m.Priority, new { placeholder = T("Order"), @class = "text medium reaction-position-field" })
    @* @Html.DropDownListFor(m => m.CssName, cssNames,  new { placeholder = T("CssName"), @class = "text medium" })*@
    @Html.CheckBoxFor(m => m.Activating, new { placeholder = T("Activating"), @class = "text medium" })
    <i class="fa fa-times" style="color: red"></i>
    @Html.LinkToRemoveNestedForm(T("Remove").Text, ".j_reaction", "input.ph-mark-for-delete")
</div>


