@model Laser.Orchard.MessageStore.ViewModels.MessageStoreEditModel
<fieldset>
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.Gruppoid)
    @Html.HiddenFor(x => x.MessageDate)
    @Html.HiddenFor(x => x.MarkMessage)
    @Html.HiddenFor(x => x.MessageTextHtml)
    @Html.HiddenFor(x => x.MessageObject)
    @if (Model.showOnlyMessage == false) {
        <div class="editor-label">@Html.LabelFor(x => x.MessageFrom, T("From"))</div>
        <div class="editor-field">@Html.EditorFor(x => x.MessageFrom)</div>

        <div class="editor-label">@Html.LabelFor(x => x.MessageTo, T("To"))</div>
        <div class="editor-field">@Html.EditorFor(x => x.MessageTo)</div>
    } else {
        @Html.HiddenFor(x => x.MessageFrom)
        @Html.HiddenFor(x => x.MessageTo)
    }
    <div class="editor-label">@Html.LabelFor(x => x.MessageText, T("Message Text"))</div>
    <div class="editor-field">@Html.TextAreaFor(x => x.MessageText)</div>
    @if (Model.showOnlyMessage == false) {

        <div class="editor-label">@Html.LabelFor(x => x.MarkRead, T("Mark as  read"))</div>
        <div class="editor-field">@Html.CheckBoxFor(x => x.MarkRead)</div>
    } else {
        @Html.HiddenFor(x => x.MarkRead)
    }
</fieldset>
@if (Model.CloseWindow == true) {
    <script type= "text/javascript">
        windows.close();
    </script>
}