@model Laser.Orchard.StartupConfig.Models.JsonDataTablePartSettings
<fieldset>
    <legend></legend>
    <div>
        <label for="@Html.FieldIdFor(m => m.ColumnsDefinition)">@T("Columns Definition")</label>
        @Html.TextAreaFor(m => m.ColumnsDefinition, new { @class = "text large tokenized" })
        <span class="hint">@T("Columns definition of the bootstrap-table as a json array. Example: [{field:'name',title:'Name'},{field:'description',title:'Description'}]")</span>
    </div>
    <div>
        <label for="@Html.FieldIdFor(m => m.UniqueId)">@T("Row ID field")</label>
        @Html.TextBoxFor(m => m.UniqueId, new { @class = "text large tokenized" })
        <span class="hint">@T("Name of row ID field. Default: id.")</span>
    </div>
    <div>
        <label for="@Html.FieldIdFor(m => m.CardView)">@T("Card View")</label>
        @Html.CheckBoxFor(m => m.CardView)
        <span class="hint">@T("Check to set card view as default view. Otherwise table view will be used.")</span>
    </div>
</fieldset>
@Display.TokenHint()