@{
    var services = WorkContext.Resolve<Orchard.IOrchardServices>();
    var contentManager = services.ContentManager;
    IEnumerable<object> items = Model.ContentItems;
    var idContent = Model.ContentItem.ContainerWidgetPart.Record.ContainerId;
    var containerItem = contentManager.Get(idContent);
    string fasciaType = ((dynamic)containerItem).Fascia.Specializzazione.Value;


    switch(fasciaType) {
        case "Foto Sfondo":
            <div class="space-40"></div>
    
            foreach (var item in items) {
                @Display(New.FotoSfondo(ContentItem: item));
            }
            break;

        case "Immagine - Testo":
            <div class="space-40"></div>

            <div id="business-servizi">
                <div class="container">
                    @foreach (var item in items) {
                        @Display(New.ImmagineTesto(ContentItem: item));
                    }
                </div>
            </div>
            break;

        case "Dettaglio Girevole":
            <div id="krake-info">
                <div class="krake-info-top"></div>
                <div class="krake-info-bottom"></div>
                <div class="container-fluid">
                    <div class="row">
                        @foreach (var item in items) {
                            @Display(New.DettagliKrake(ContentItem: item));
                        }
                    </div>
                </div>
            </div>
            break;
            
        case "Fascia Business":
            <div class="space-40"></div>

            <div id="focus" class="container-fluid">
	            <div class="focus-top"></div>
	            <div class="row">
                    @foreach (var item in items) {
                            @Display(New.FasciaBusiness(ContentItem: item));
                        }
	            </div>
                <div class="focus-bottom"></div>
            </div>
            break;

        case "Fascia Krake":
            foreach (var item in items) {
                @Display(New.FasciaKrake(ContentItem: item));
            }
            break;
            
        case "Fascia Societa":
            <div id="nav-societa">
                <div class="nav-societa-top"></div>
                <div id="focus" class="container">
                    <div class="row">
                        @foreach (var item in items) {
                            @Display(New.FasciaSocieta(ContentItem: item));
                        }
                    </div>
                </div>
                <div class="nav-societa-bottom"></div>
            </div>
            break;
            
        case "Fascia Contatti":
            <div class="space-40"></div>

            <div id="societa-footer">
                <div class="societa-footer-top"></div>
                <div id="focus" class="container">
                    <div class="row">
                        @foreach (var item in items) {
                            @Display(New.FasciaContatti(ContentItem: item));
                        }
                    </div>
                </div>
                <div class="societa-footer-bottom"></div>
            </div>
            break;
                    
        default:
            <div class="space-40"></div>
            break;
         
    }
    
}
