@{
    var Menu = Model.Menu;
    var items = (IList<dynamic>)Enumerable.Cast<dynamic>(Menu.Items);

    int position = 0;
    var linkHome = items[0].Href;

    string modalitaMenu = Model.ContentItem.MenuWidgetPart.MenuWidget.Modalita.Value;
}
@if (modalitaMenu == "Navigazione") {
    <div class="menu-menu-principale-container">
        <ul id="main-menu-home" class="nav navbar-nav handel-got-d hidden-xs">
            @foreach (var item in items) {
                if (position > 0) {
                    bool hasChildren = (item.Item.Items.Length > 0);
                <li class="menu-item menu-item-type-post_type menu-item-object-page @((hasChildren) ? "menu-item-has-children dropdown" : "")">
                    @if (hasChildren) {
                        <a href="@item.Href" class="dropdown-toggle" data-toggle="dropdown">@item.Text<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            @DisplayChildren(item)
                        </ul>
                    } else {
                        <a href="@item.Href">@item.Text</a>
                    }
                </li>
                }
                position = position + 1;
            }
        </ul>
    </div>
} 
else if (modalitaMenu == "Filtro") {
    var services = WorkContext.Resolve<Orchard.IOrchardServices>();
    var contentManager = services.ContentManager;
    <div class="overflow-hidden">
        <div id="filter" class="clearfix">
            <a class="filter-label handel-got-d" href="#">@T("Filter")<i class="fa fa-angle-down"></i></a>
            <ul class="nav">
                @foreach (var item in items) {
                    if (item.Text.Text == "Tutti") {
                        <li><a href="#all">@item.Text</a></li>
                    } 
                    else {
                        var term = contentManager.Get(item.Content.Id);

                        string slug = term.AutoroutePart.DisplayAlias;
                        var slugTerms = slug.Split('/');
                        
                        <li><a href="#@slugTerms[1]">@item.Text</a></li>
                    }
                }
            </ul>
        </div>
    </div>
}