@{
    dynamic item = Model.ContentItem;
    string titleWidget = item.WidgetPart.Title;
}
@switch (titleWidget) {
    case "Anteprima Web Mobile":
        <div class="container-fluid">
            @Display(New.ImmaginiProdotto(ContentItem: item));
        </div>
        break;
    case "Fascia Loghi":
        <div class="container-fluid">
            <div class="space-40"></div>
            @Display(New.FasciaLoghi(ContentItem: item));
            <div class="space-40"></div>
            <div class="space-40"></div>
        </div>
        break;
    case "Dettaglio Prodotto":
        @Display(New.DettaglioProdotto(ContentItem: item));
        break;
    case "Immagine e Testo":
        @Display(New.ImmagineTestoProdotto(ContentItem: item));
        break;
    case "Immagini Prodotto":
        <div class="container">
            @Display(New.ImmaginiProdotto(ContentItem: item));
        </div>
        break;
    default:
        @Display(Model.Content)
            break;
}