@{
    dynamic item = Model.ContentItem;
    string tipoContenuto = item.ShowcaseWidget.Specializzazione.Value;
}

@switch (tipoContenuto) {
    case "Anteprima Web Mobile":
        <div class="container-fluid">
            @Display(New.ImmaginiProdotto(ContentItem: item));
        </div>
        break;
    case "Dettaglio Prodotto":
        @Display(New.DettaglioProdotto(ContentItem: item));
        break;
    case "Immagine e Testo":
        @Display(New.ImmagineTestoProdotto(ContentItem: item));
        break;
    case "Immagini Prodotto":
        <div class="container">
            @Display(New.ImmaginiProdotto(ContentItem: item));
        </div>
        break;
    default:
        @Display(Model.Content)
            break;
}