@using Orchard.ContentManagement
@using Orchard.Widgets.Models
@{
    dynamic item = Model.ContentItem;
    string tipoContenuto = item.HtmlWidget.Specializzazione.Value;
}

@switch (tipoContenuto) {
    case "Footer Logo":
        @Display(New.HtmlQuad_First(ContentItem: item));
            break;
    case "Footer Social":
        @Display(New.HtmlQuad_Fourth(ContentItem: item));
            break;
    case "Footer Testo":
            @Display(New.HtmlFooter(ContentItem: item));
            break;
    default: {
            Model.Metadata.Wrappers.Clear();
            var title = ((IContent)Model.ContentItem).As<WidgetPart>().Title;
            <div class="box box_small">
                <h3>@title</h3>
                @Display(Model.Content)
            </div>
            break;
        }
}