@{
    var url = Model.Href;
    if (Model.Content.ContentItem.ContentType=="CategorieEventiTerm"){
        var urlPattern = "~/eventi?datainizio={0}&datafine={1}&termids={2}";
        url = String.Format(urlPattern,
            Request.QueryString["datainizio"] ?? DateTime.Today.ToString("dd/MM/yyyy"),
            Request.QueryString["datafine"] ?? DateTime.Today.ToString("dd/MM/yyyy"),
            Model.Content.ContentItem.Id.ToString());
        url = Url.Content(url);
    }
}
@if (Model.Item.Items.Length == 0 || (Model.Parent.ContentItem != null && Model.Parent.ContentItem.ContentType != "Menu")) {
    <a title="@T("Go to page {0}", Model.Text)" href="@url">@Model.Text</a>
} else {
    <a title="@T("Open submenu of {0}", Model.Text)" id="dLabel-@(Model.Content.Id)" data-target="#" href="@url" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">@Model.Text<span class="caret"></span></a>
}