@using Orchard.Utility.Extensions;
@{
    var themeBasePath = Url.Content(Html.ThemePath(WorkContext.CurrentTheme, ""));

    if (Model.ContentItem.TitlePart != null && Model.ContentItem.TitlePart.Title != null) {
        Layout.Title = Model.ContentItem.TitlePart.Title;
    }

    Model.Classes.Add("content-item");

    var contentTypeClassName = ((string)Model.ContentItem.ContentType).HtmlClassify();
    Model.Classes.Add(contentTypeClassName);

    var tag = Tag(Model, "article");
    var pois = Model.ContentItem.Itinerario.POIAssociati.ContentItems;
    WorkContext.Layout.Zones["WideContent"].Items.Clear();
    WorkContext.Layout.Zones["WideContent"].Add(New.WideContentMap(ContentItem: Model.ContentItem), "0");
    var cssClass = "itinerari";
}
<div class="row">
    <div class="col-xs-12 col-sm-12">
        <h1 class="item-title @cssClass">@Model.ContentItem.TitlePart.Title</h1>
        @Html.Raw(@Model.ContentItem.BodyPart.Text)
    </div>
</div>
@if (pois.Length > 0) {
<div class="space-20"></div>
<div class="row">
    <h4 class="item-subtitle @cssClass">@T("Points of interest")</h4>
        @foreach (var poi in pois) {
            <div class="col-xs-12 col-sm-4 col-md-2"><a href="@Url.ItemDisplayUrl((Orchard.ContentManagement.IContent)poi)">
                @if (poi.POI.Gallery.MediaParts.Count > 0) {
                    <img class="img-responsive" src="@Display.ResizeMediaUrl(Width: 720, Height: 600, Mode: "pad", Alignment: "middlecenter", Path: poi.POI.Gallery.MediaParts[0].MediaUrl)" alt="@poi.POI.Gallery.MediaParts[0].AlternateText" />
                } else {
                    <img class="img-responsive" src="http://placehold.it/720x600" />
                }<br />
                <span>@poi.TitlePart.Title</span>
                </a>
            </div>
        }
</div>
}
