@using Orchard.Utility.Extensions;
@{
    var themeBasePath = Url.Content(Html.ThemePath(WorkContext.CurrentTheme, ""));

    if (Model.ContentItem.TitlePart != null && Model.ContentItem.TitlePart.Title != null) {
        Layout.Title = Model.ContentItem.TitlePart.Title;
    }

    Model.Classes.Add("content-item");

    var contentTypeClassName = ((string)Model.ContentItem.ContentType).HtmlClassify();
    Model.Classes.Add(contentTypeClassName);

    var tag = Tag(Model, "article");

    var medias = Model.ContentItem.Manifestazione.Gallery.MediaParts;
    var attachments = @Model.ContentItem.Manifestazione.Allegato.MediaParts;
    var youTube = Model.ContentItem.Manifestazione.YoutubeVideo.ContentItems;
}
<div class="row">
    <div class="col-xs-12 col-sm-8">
        <h1 class="item-title manifestazioni">@Model.ContentItem.TitlePart.Title</h1>
        @Html.Raw(@Model.ContentItem.BodyPart.Text)
    </div>
    <div class="col-xs-12 col-sm-4">
        @if (medias.Count > 0) {
            <img class="img-responsive img-thumbnail" src="@Display.ResizeMediaUrl(Width: 720, Height: 600, Mode: "pad", Alignment: "middlecenter", Path: medias[0].MediaUrl)" alt="@medias[0].AlternateText" />
        }
    </div>
</div>
@if (medias.Count > 1) {
<div class="space-20"></div>
    <div class="row">
        <h4 class="item-subtitle manifestazioni">@T("Gallery")</h4>
        @for (int i = 1; i < medias.Count; i++) {
            <div class="col-xs-12 col-sm-4 col-md-2">
                <a data-lightbox="gallery" href="@medias[i].MediaUrl">
                    <img class="img-responsive" src="@Display.ResizeMediaUrl(Width: 720, Height: 600, Mode: "pad", Alignment: "middlecenter", Path: medias[i].MediaUrl)" alt="@medias[i].AlternateText" /></a>
            </div>
        }
    </div>

}
@if (youTube.Length > 0) {
<div class="space-20"></div>
<div class="row">
    <h4 class="item-subtitle manifestazioni">@T("Video")</h4>
    @foreach (var video in youTube) {
        <div class="col-xs-12 col-sm-4 col-md-6">
            <strong>@video.TitlePart.Title</strong><br />
            <iframe width="560" height="315" src="@video.YoutubeVideo.VideoUrl.Value" frameborder="0" allowfullscreen></iframe>
        </div>
    }
</div>
}
@if (attachments.Count > 0) {
<div class="space-20"></div>
    <div class="row">
        <h4 class="item-subtitle manifestazioni">@T("Attachments")</h4>
        @for (int i = 0; i < attachments.Count; i++) {
            <div class="col-xs-12 col-sm-4 col-md-2">
                <a target="_blank" href="@attachments[i].MediaUrl">
                    <img class="img-responsive" src="@(themeBasePath + "/styles/images/attachment.png")"  alt="@T("Attachment")" />
                    <span>@(String.IsNullOrWhiteSpace(attachments[i].AlternateText) ? attachments[i].FileName : attachments[i].AlternateText)</span>
                </a>
            </div>
        }
    </div>
}
