@using Orchard.Utility.Extensions;

@{
    var cssClass = "";
    var eventDates = "";
    var contentType = Model.ContentItem.ContentType;
    var contentPart = ((IList<Orchard.ContentManagement.ContentPart>)Model.ContentItem.Parts).Where(s => s.PartDefinition.Name == contentType).FirstOrDefault();
    Orchard.MediaLibrary.Fields.MediaLibraryPickerField gallery = (Orchard.MediaLibrary.Fields.MediaLibraryPickerField)contentPart.Fields.Where(f => f.DisplayName == "Gallery").FirstOrDefault();
    var mediagalleryitems = new List<Orchard.MediaLibrary.Models.MediaPart>();
    if (gallery != null) {
        mediagalleryitems = gallery.MediaParts.ToList();
    }
    if (contentType == "Manifestazione") {
        cssClass = "manifestazioni";
    } else if (contentType == "CalendarEvent") {
        cssClass = "eventi";

        var dataInizioFull = Model.ContentItem.ActivityPart.DateTimeStart;
        var dataFineFull = Model.ContentItem.ActivityPart.DateTimeEnd;
        var dataInizio = Model.ContentItem.ActivityPart.DateTimeStart.Date;
        var dataFine = Model.ContentItem.ActivityPart.DateTimeEnd.Date;
        var oraInizio = Model.ContentItem.ActivityPart.DateTimeStart.ToString("HH:mm");
        var oraFine = Model.ContentItem.ActivityPart.DateTimeEnd.ToString("HH:mm");
        if (Model.ContentItem.ActivityPart.AllDay) {
            if (dataInizio == dataFine) {
                eventDates = Model.ContentItem.ActivityPart.DateTimeStart.ToString("D");
            } else {
                eventDates = String.Format("{0} - {1}", dataInizio.ToString("dd MMMM yyyy"), dataFine.ToString("dd MMMM yyyy"));
            }
        } else {
            if (dataInizio == dataFine) {
                if (!oraFine.EndsWith("59")) {
                    eventDates = String.Format("{0}, {1} / {2}", Model.ContentItem.ActivityPart.DateTimeStart.ToString("dd MMMM yyyy"), oraInizio, oraFine);
                } else {
                    eventDates = String.Format("{0}, {1}", Model.ContentItem.ActivityPart.DateTimeStart.ToString("dd MMMM yyyy"), oraInizio);
                }
            } else {
                if (!oraFine.EndsWith("59")) {
                    eventDates = String.Format("{0} - {1}, {2} / {3}", Model.ContentItem.ActivityPart.DateTimeStart.ToString("dd MMMM yyyy"), Model.ContentItem.ActivityPart.DateTimeEnd.ToString("dd MMMM yyyy"), oraInizio, oraFine);
                } else {
                    eventDates = String.Format("{0} - {1}, {2}", Model.ContentItem.ActivityPart.DateTimeStart.ToString("dd MMMM yyyy"), Model.ContentItem.ActivityPart.DateTimeEnd.ToString("dd MMMM yyyy"), oraInizio);
                }
            }
        }
    } else if (contentType == "Prodotti") {
        cssClass = "prodotti";
    } else if (contentType == "Itinerario") {
        cssClass = "itinerari";
    } else if (contentType == "Prodotti") {
        cssClass = "prodotti";
    } else if (contentType == "POI") {
        cssClass = Model.ContentItem.POI.Categoria.Terms[0].TipoUnivoco.Value.ToLower().StartsWith("poi_outdoor") ? "poi-outdoor" : "poi-siti";
    }
}
<div class="row">
    <div class="col-xs-12 col-sm-3">
        <a href="@Url.ItemDisplayUrl((Orchard.ContentManagement.IContent)Model.ContentItem)" title="@T("Go to page {0}",Model.ContentItem.TitlePart.Title)">
            @if (mediagalleryitems.Count > 0) {
		var alt=(((dynamic)mediagalleryitems[0]).AlternateText);
		if (string.IsNullOrEmpty(alt)){
		alt=Model.ContentItem.TitlePart.Title;
		}
		           
			   <img class="img-responsive" src="@Display.ResizeMediaUrl(Width: 720, Height: 600, Mode: "pad", Alignment: "middlecenter", Path: ((dynamic)mediagalleryitems[0]).MediaUrl)" alt="@alt" />
            }</a>
    </div>
    <div class="col-xs-12 col-sm-9">
        <h2 class="item-title"><a href="@Url.ItemDisplayUrl((Orchard.ContentManagement.IContent)Model.ContentItem)" title="@T("Go to page {0}",Model.ContentItem.TitlePart.Title)" class="@cssClass">@Model.ContentItem.TitlePart.Title</a></h2><h3></h3>
        @if (!String.IsNullOrWhiteSpace(eventDates)) {
            <h4 class="item-data">@eventDates</h4>
        }

        @if (Model.ContentItem.ContentType != "Produttore") {
            string bodyHtml = Model.ContentItem.BodyPart.Text;
            var body = new HtmlString(Html.Excerpt(bodyHtml, 470).ToString().Replace(Environment.NewLine, "</p>" + Environment.NewLine + "<p>")); 
            <p>
                @body
            </p>
            <a href="@Url.ItemDisplayUrl((Orchard.ContentManagement.IContent)Model.ContentItem)" title="@T("Go to page {0}",Model.ContentItem.TitlePart.Title)" class="pull-right @cssClass">@T("read more")...</a>
        }
    </div>
</div>
@if (mediagalleryitems.Count > 1) {
    <br />

    <div class="row">
        <h4 class="item-subtitle @cssClass">@T("Gallery")</h4>
        @for (int i = 1; i < mediagalleryitems.Count; i++) {
            <div class="col-xs-12 col-sm-4 col-md-2">
                <a data-lightbox="gallery-@(Model.ContentItem.Id)" href="@(((dynamic)mediagalleryitems[i]).MediaUrl)">
				@{var alt2=(((dynamic)mediagalleryitems[i]).AlternateText);
		if (string.IsNullOrEmpty(alt2)){
		alt2=Model.ContentItem.TitlePart.Title;
		}
		} 
                    <img class="img-responsive" src="@Display.ResizeMediaUrl(Width: 720, Height: 600, Mode: "pad", Alignment: "middlecenter", Path: ((dynamic)mediagalleryitems[i]).MediaUrl)" alt="@alt2" /></a>
            </div>
        }
    </div>
}
<hr />


