@using Orchard.Utility.Extensions;
@{
    var themeBasePath = Url.Content(Html.ThemePath(WorkContext.CurrentTheme, ""));

    if (Model.ContentItem.TitlePart!= null && Model.ContentItem.TitlePart.Title != null) {
        Layout.Title = Model.ContentItem.TitlePart.Title;
    }

    Model.Classes.Add("content-item");

    var contentTypeClassName = ((string)Model.ContentItem.ContentType).HtmlClassify();
    Model.Classes.Add(contentTypeClassName);

    var tag = Tag(Model, "article");

    var medias = Model.ContentItem.CalendarEvent.Gallery.MediaParts;
    var attachments = @Model.ContentItem.CalendarEvent.Allegato.MediaParts;
    var contatti = Model.ContentItem.CalendarEvent.Contatti.ContentItems;

    var eventDates = "";
    var dataInizioFull = Model.ContentItem.ActivityPart.DateTimeStart;
    var dataFineFull = Model.ContentItem.ActivityPart.DateTimeEnd;
    var dataInizio = Model.ContentItem.ActivityPart.DateTimeStart.Date;
    var dataFine = Model.ContentItem.ActivityPart.DateTimeEnd.Date;
    var oraInizio = Model.ContentItem.ActivityPart.DateTimeStart.ToString("HH:mm");
    var oraFine = Model.ContentItem.ActivityPart.DateTimeEnd.ToString("HH:mm");
    }
@{
    if (Model.ContentItem.ActivityPart.AllDay) {
        if (dataInizio == dataFine) {
            eventDates = Model.ContentItem.ActivityPart.DateTimeStart.ToString("D");
        } else {
            eventDates = String.Format("{0} - {1}", dataInizio.ToString("dd MMMM yyyy"), dataFine.ToString("dd MMMM yyyy"));
        }
    } else {
        if (dataInizio == dataFine) {
            if (!oraFine.EndsWith("59")) {
                eventDates = String.Format("{0}, {1} / {2}", Model.ContentItem.ActivityPart.DateTimeStart.ToString("dd MMMM yyyy"), oraInizio, oraFine);
            } else {
                eventDates = String.Format("{0}, {1}", Model.ContentItem.ActivityPart.DateTimeStart.ToString("dd MMMM yyyy"), oraInizio);
            }
        } else {
            if (!oraFine.EndsWith("59")) {
                eventDates = String.Format("{0} - {1}, {2} / {3}", Model.ContentItem.ActivityPart.DateTimeStart.ToString("dd MMMM yyyy"), Model.ContentItem.ActivityPart.DateTimeEnd.ToString("dd MMMM yyyy"), oraInizio, oraFine);
            } else {
                eventDates = String.Format("{0} - {1}, {2}", Model.ContentItem.ActivityPart.DateTimeStart.ToString("dd MMMM yyyy"), Model.ContentItem.ActivityPart.DateTimeEnd.ToString("dd MMMM yyyy"), oraInizio);
            }
        }
    }
    WorkContext.Layout.Zones["WideContent"].Items.Clear();
    WorkContext.Layout.Zones["WideContent"].Add(New.WideContentMap(ContentItem: Model.ContentItem), "0");
}
<div class="row">
    <div class="col-xs-12 col-sm-8">
        <h1 class="item-title eventi">@Model.ContentItem.TitlePart.Title</h1>
        <h2 class="item-data">@eventDates</h2>
        @Html.Raw(@Model.ContentItem.BodyPart.Text)
    </div>
    <div class="col-xs-12 col-sm-4">
        @if (medias.Count > 0) {
		var alt=medias[0].AlternateText;
		if (string.IsNullOrEmpty(alt)){
		alt=Model.ContentItem.TitlePart.Title;
		}
            <img class="img-responsive img-thumbnail" src="@Display.ResizeMediaUrl(Width: 720, Height: 600, Mode: "pad", Alignment: "middlecenter", Path: medias[0].MediaUrl)" alt="@alt" />
        }
    </div>
</div>
@if (medias.Count > 1) {
<div class="space-20"></div>
    <div class="row">
        <h4 class="item-subtitle eventi">@T("Gallery")</h4>
        @for (int i = 1; i < medias.Count; i++) {
            <div class="col-xs-12 col-sm-4 col-md-2">
                <a data-lightbox="gallery" href="@medias[i].MediaUrl" title="@T("Click to zoom")">
				@{	var alt2=medias[i].AlternateText;
		if (string.IsNullOrEmpty(alt2)){
		alt2=Model.ContentItem.TitlePart.Title;
		}}
                    <img class="img-responsive" src="@Display.ResizeMediaUrl(Width: 720, Height: 600, Mode: "pad", Alignment: "middlecenter", Path: medias[i].MediaUrl)" alt="@alt2" /></a>
            </div>
        }
    </div>

}
@if (contatti.Length > 0) {
<div class="space-20"></div>
<div class="row">
    <h4 class="item-subtitle eventi">@T("Contacts")</h4>
    <ul>
        @foreach (var contatto in contatti) {
            <li class="col-xs-12 col-sm-4">
                <strong>@contatto.TitlePart.Title</strong><br />
                @if (!String.IsNullOrWhiteSpace(contatto.Contatto.Indirizzo.Value)) {
                @contatto.Contatto.Indirizzo.Value<br />
                }
                                @if (!String.IsNullOrWhiteSpace(contatto.Contatto.Email.Value)) {
                <a  title="@T("Email to {0}",contatto.Contatto.Email.Value)" href="mailto:@contatto.Contatto.Email.Value">@contatto.Contatto.Email.Value</a><br />
                                }
                                @if (!String.IsNullOrWhiteSpace(contatto.Contatto.SitoWeb.Value)) {

                <a target="_blank" title="@T("Open {0} to a new window",contatto.Contatto.SitoWeb.Value)" href="@contatto.Contatto.SitoWeb.Value">@contatto.Contatto.SitoWeb.Value</a><br />
                                }
                                @if (!String.IsNullOrWhiteSpace(contatto.Contatto.Note.Value)) {
                @contatto.Contatto.Note.Value<br/>
                                }
            </li>
        }
        </ul>
</div>
}
@if (attachments.Count > 0) {
<div class="space-20"></div>
    <div class="row">
        <h4 class="item-subtitle eventi">@T("Attachments")</h4>
        @for (int i = 0; i < attachments.Count; i++) {
            <div class="col-xs-12 col-sm-4 col-md-2">
                <a target="_blank" href="@attachments[i].MediaUrl"  title="@T("Click to download {0}", attachments[i].FileName)">
                    <img class="img-responsive" src="@(themeBasePath + "/styles/images/attachment.png")" alt="@T("Attachment")" />
                    <span>@(String.IsNullOrWhiteSpace(attachments[i].AlternateText) ? attachments[i].FileName : attachments[i].AlternateText)</span>
                </a>
            </div>
        }
    </div>
}
