@using Orchard.Utility.Extensions;
@{
    Model.Classes.Add("content-item");

    var contentTypeClassName = ((string)Model.ContentItem.ContentType).HtmlClassify();
    Model.Classes.Add(contentTypeClassName);

    var tag = Tag(Model, "article");
    var eventDates = "";
    var dataInizioFull = Model.ContentItem.ActivityPart.DateTimeStart;
    var dataFineFull = Model.ContentItem.ActivityPart.DateTimeEnd;
    var dataInizio = Model.ContentItem.ActivityPart.DateTimeStart.Date;
    var dataFine = Model.ContentItem.ActivityPart.DateTimeEnd.Date;
    var oraInizio = Model.ContentItem.ActivityPart.DateTimeStart.ToString("HH:mm");
    var oraFine = Model.ContentItem.ActivityPart.DateTimeEnd.ToString("HH:mm");
    if (Model.ContentItem.ActivityPart.AllDay) {
        if (dataInizio == dataFine) {
            eventDates = Model.ContentItem.ActivityPart.DateTimeStart.ToString("D");
        } else {
            eventDates = String.Format("{0} - {1}", dataInizio.ToString("dd MMMM yyyy"), dataFine.ToString("dd MMMM yyyy"));
        }

    } else {
        if (dataInizio == dataFine) {
            if (!oraFine.EndsWith("59")){
                eventDates = String.Format("{0}, {1} / {2}", Model.ContentItem.ActivityPart.DateTimeStart.ToString("dd MMMM yyyy"), oraInizio, oraFine);
            } else {
                eventDates = String.Format("{0}, {1}", Model.ContentItem.ActivityPart.DateTimeStart.ToString("dd MMMM yyyy"), oraInizio);
            }
        } else {
            if (!oraFine.EndsWith("59")) {
                eventDates = String.Format("{0} - {1}, {2} / {3}", Model.ContentItem.ActivityPart.DateTimeStart.ToString("dd MMMM yyyy"), Model.ContentItem.ActivityPart.DateTimeEnd.ToString("dd MMMM yyyy"), oraInizio, oraFine);
            } else {
                eventDates = String.Format("{0} - {1}, {2}", Model.ContentItem.ActivityPart.DateTimeStart.ToString("dd MMMM yyyy"), Model.ContentItem.ActivityPart.DateTimeEnd.ToString("dd MMMM yyyy"), oraInizio);
            }
        }
    }
    
}
<div class="row">
    <div class="col-xs-12 col-sm-4">
        <a href="@Url.ItemDisplayUrl((Orchard.ContentManagement.IContent)Model.ContentItem)">
            <img src="@Display.ResizeMediaUrl(Width: 720, Height: 480, Mode: "pad", Alignment: "middlecenter", Path: Model.ContentItem.CalendarEvent.Gallery.MediaParts[0].MediaUrl)" class="img-responsive" alt="@Model.ContentItem.CalendarEvent.Gallery.MediaParts[0].AlternateText">
        </a>
    </div>
    <div class="col-xs-12 col-sm-8">
        <h3 class="eventi-title"><a class="neutro" href="@Url.ItemDisplayUrl((Orchard.ContentManagement.IContent)Model.ContentItem)">
            @Model.ContentItem.TitlePart.Title.ToUpper()</a></h3>
        <h4 class="eventi-date">@eventDates</h4>
        
        @{ 
            string bodyHtml = Model.ContentItem.BodyPart.Text;
            var body = new HtmlString(Html.Excerpt(bodyHtml, 450).ToString().Replace(Environment.NewLine, "</p>" + Environment.NewLine + "<p>")); 
        }
        <p>
            @body
        </p>
        <a href="@Url.ItemDisplayUrl((Orchard.ContentManagement.IContent)Model.ContentItem)" class="pull-right bluette">@T("read more")...</a>

    </div>
</div>
