@using Orchard.Utility.Extensions;
@using Laser.Orchard.StartupConfig.Localization;
@{
    dynamic dateLocal = WorkContext.Resolve<IDateLocalization>();
    var themeBasePath = Url.Content(Html.ThemePath(WorkContext.CurrentTheme, ""));

    if (Model.ContentItem.TitlePart != null && Model.ContentItem.TitlePart.Title != null) {
        Layout.Title = Model.ContentItem.TitlePart.Title;
    }

    Model.Classes.Add("content-item");
    var contentTypeClassName = ((string)Model.ContentItem.ContentType).HtmlClassify();
    Model.Classes.Add(contentTypeClassName);

    var tag = Tag(Model, "article");

    var medias = Model.ContentItem.CalendarEvent.Gallery.MediaParts;
    var attachments = @Model.ContentItem.CalendarEvent.Allegato.MediaParts;
    var contatti = Model.ContentItem.CalendarEvent.Contatti.ContentItems;


    var eventDates = "";
    var dataInizioFull = dateLocal.ReadDateLocalized(Model.ContentItem.ActivityPart.DateTimeStart, true);
    var dataFineFull = dateLocal.ReadDateLocalized(Model.ContentItem.ActivityPart.DateTimeEnd, true);
    var dataInizio = dataInizioFull.Date;
    var dataFine = dataFineFull.Date;
    var oraInizio = dataInizioFull.ToString("HH:mm");
    var oraFine = dataFineFull.ToString("HH:mm");
}
@{
    if (Model.ContentItem.ActivityPart.AllDay) {
        if (dataInizio == dataFine) {
            eventDates = dataInizio.ToString("dd MMMM yyyy");
        } else {
            eventDates = String.Format("{0} - {1}", dataInizio.ToString("dd MMMM yyyy"), dataFine.ToString("dd MMMM yyyy"));
        }
    } else {
        if (dataInizio == dataFine) {
            if (!oraFine.ToString().EndsWith("59")) {
                eventDates = String.Format("{0}, {1} / {2}", dataInizio.ToString("dd MMMM yyyy"), oraInizio, oraFine);
            } else {
                eventDates = String.Format("{0}, {1}", dataInizio.ToString("dd MMMM yyyy"), oraInizio);
            }
        } else {
            if (!oraFine.EndsWith("59")) {
                eventDates = String.Format("{0} - {1} / {2} - {3}", dataInizio.ToString("dd MMMM yyyy"), oraInizio, dataFine.ToString("dd MMMM yyyy"), oraFine);
            } else {
                eventDates = String.Format("{0} - {1}, {2}", dataInizio.ToString("dd MMMM yyyy"), dataFine.ToString("dd MMMM yyyy"), oraInizio);
            }
        }

    }
}

    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <h1 class="item-title eventi">@Model.ContentItem.TitlePart.Title</h1>
            <h2 class="item-data">@eventDates</h2>
            @Html.Raw(@Model.ContentItem.BodyPart.Text)
        </div>
        <div class="col-xs-12 col-sm-4">
            @if (medias.Count > 0) {
                var alt = medias[0].AlternateText;
                if (string.IsNullOrEmpty(alt)) {
                    alt = Model.ContentItem.TitlePart.Title;
                }
                <img class="img-responsive img-thumbnail" src="@Display.ResizeMediaUrl(Width: 720, Height: 600, Mode: "pad", Alignment: "middlecenter", Path: medias[0].MediaUrl)" alt="@alt" />
            }
        </div>
    </div>
    @if (medias.Count > 1) {
        <div class="space-20"></div>
        <div class="row">
            <h4 class="item-subtitle eventi">@T("Gallery")</h4>
            @for (int i = 1; i < medias.Count; i++) {
                <div class="col-xs-12 col-sm-4 col-md-2">
                    <a data-lightbox="gallery" href="@medias[i].MediaUrl" title="@T("Click to zoom")">
                        @{	var alt2 = medias[i].AlternateText;
                            if (string.IsNullOrEmpty(alt2)) {
                                alt2 = Model.ContentItem.TitlePart.Title;
                            }}
                        <img class="img-responsive" src="@Display.ResizeMediaUrl(Width: 720, Height: 600, Mode: "pad", Alignment: "middlecenter", Path: medias[i].MediaUrl)" alt="@alt2" />
                    </a>
                </div>
                            }
        </div>

                            }
                            @if (contatti.Length > 0) {
                                <div class="space-20"></div>
                                <div class="row">
                                    <h4 class="item-subtitle eventi">@T("Contacts")</h4>
                                    <ul>
                                        @foreach (var contatto in contatti) {
                                            <li class="col-xs-12 col-sm-4">
                                                <strong>@contatto.TitlePart.Title</strong><br />
                                                @if (!String.IsNullOrWhiteSpace(contatto.Contatto.Indirizzo.Value)) {
                                                    @contatto.Contatto.Indirizzo.Value<br />
                                                }
                                                @if (!String.IsNullOrWhiteSpace(contatto.Contatto.Email.Value)) {
                                                    <a title="@T("Email to {0}",contatto.Contatto.Email.Value)" href="mailto:@contatto.Contatto.Email.Value">@contatto.Contatto.Email.Value</a><br />
                                                }
                                                @if (!String.IsNullOrWhiteSpace(contatto.Contatto.SitoWeb.Value)) {

                                                    <a target="_blank" title="@T("Open {0} to a new window",contatto.Contatto.SitoWeb.Value)" href="@contatto.Contatto.SitoWeb.Value">@contatto.Contatto.SitoWeb.Value</a><br />
                                                }
                                                @if (!String.IsNullOrWhiteSpace(contatto.Contatto.Note.Value)) {
                                                    @contatto.Contatto.Note.Value<br />
                                                }
                                            </li>
                                        }
                                    </ul>
                                </div>
                            }
                            @if (attachments.Count > 0) {
                                <div class="space-20"></div>
                                <div class="row">
                                    <h4 class="item-subtitle eventi">@T("Attachments")</h4>
                                    @for (int i = 0; i < attachments.Count; i++) {
                                        <div class="col-xs-12 col-sm-4 col-md-2">
                                            <a target="_blank" href="@attachments[i].MediaUrl" title="@T("Click to download {0}", attachments[i].FileName)">
                                                <img class="img-responsive" src="@(themeBasePath + "/styles/images/attachment.png")" alt="@T("Attachment")" />
                                                <span>@(String.IsNullOrWhiteSpace(attachments[i].AlternateText) ? attachments[i].FileName : attachments[i].AlternateText)</span>
                                            </a>
                                        </div>
                                    }
                                </div>
                            }
