@using Orchard.Environment.Configuration
@{
    var settings = WorkContext.Resolve<ShellSettings>();
    var tenantName = settings.Name;

    var title = String.Concat(Layout.Title," - ", WorkContext.CurrentSite.SiteName);
    var subthemePath = "~/Themes/AnfiteatroMorenico/Styles/" + tenantName + "/";

}
@{
    //Styles
    // #GM Gestione alto contrasto - start
    if (WorkContext.HttpContext.Request.Cookies.Get("Accessibility").Value == "highcontrast")
    {
        Style.Include(subthemePath + "style-contrasto.css").AtHead();
    }
    else {
        Style.Include("style.css").AtHead();
    }
    // #GM Gestione alto contrasto - end
    if (WorkContext.HttpContext.Request.QueryString["removejs"] == null)
    {
        Script.Include("main.js").AtFoot();
    }
    
}
<!DOCTYPE html>
<html lang="@WorkContext.CurrentCulture">
<head>
    <title>@title</title>
    <meta name="viewport" content="width=device-width" />
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
     @Display(Model.Head)
</head>
<body>
    @Display(Model.Body)
    @Display(Model.Tail)
</body>
</html>
