<div id="news">
    <div class="container">
        <div id="news-slider-@Model.ContentItem.Id">
            @foreach (var contentShape in Model.ContentItems.ContentItems.Items) {
                var content = contentShape.ContentItem;
                <div class="row">
                    <div class="col-xs-12 col-sm-3 col-md-2">
                        <div class="news-date">
                            <div class="news-date-month">@content.CommonPart.PublishedUtc.ToString("MMMM")</div>
                            <div class="news-date-day">@content.CommonPart.PublishedUtc.ToString("dd")</div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-9 col-md-10">
                        <h5 class="news-title">@content.TitlePart.Title</h5>
                        @{ 
                string bodyHtml = content.BodyPart.Text;
                var body = new HtmlString(Html.Excerpt(bodyHtml, 450).ToString().Replace(Environment.NewLine, "</p>" + Environment.NewLine + "<p>")); 
                        }
                        @body
                        <a href="@Url.ItemDisplayUrl((Orchard.ContentManagement.IContent)content)" class="pull-right">@T("read more")...</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#news-slider-@Model.ContentItem.Id').slick({
            autoplay: true,
            autoplaySpeed: 5000,
            lazyLoad: 'progressive',
            fade: true,
            cssEase: 'linear',
            arrows: false,
            dots: false
        });
    });
</script>
