@using Orchard.Environment.Configuration
@{
    var settings = WorkContext.Resolve<ShellSettings>();
    var prefix = settings.RequestUrlPrefix;
    var stile1 = Model.ContentItem.BannerLinks.Stile.SelectedValues[0];
    var stile2 = Model.ContentItem.BannerLinks.Stile2.SelectedValues[0];
    var stile3 = Model.ContentItem.BannerLinks.Stile3.SelectedValues[0];
    var stile4 = Model.ContentItem.BannerLinks.Stile4.SelectedValues[0];
    var stileNormalizzato1 = stile1.Replace("manifestazioni","manifestazioni_home").Replace("prodotti","prodotti_home");
    var stileNormalizzato2 = stile2.Replace("manifestazioni","manifestazioni_home").Replace("prodotti","prodotti_home");
    var stileNormalizzato3 = stile3.Replace("manifestazioni","manifestazioni_home").Replace("prodotti","prodotti_home");
    var stileNormalizzato4 = stile4.Replace("manifestazioni","manifestazioni_home").Replace("prodotti","prodotti_home");
}
@functions {
    // To support the layout classifaction below. Implementing as a razor function because we can, could otherwise be a Func<string[], string, string> in the code block following.
    string NormalizeUrl(string url, string prefix) {
        return url.StartsWith("~") ? Url.Content(url.StartsWith("~/" + prefix) ? url : url.Replace("~", "~/" + prefix)) : url;
    }
}
<div class="col-xs-12 col-sm-3">
    <div class="home-box">
        <a title="@T("Go to page {0}", Model.ContentItem.BannerLinks.Linkposizione1.Text)" href="@NormalizeUrl(Model.ContentItem.BannerLinks.Linkposizione1.Value, prefix)" target="@Model.ContentItem.BannerLinks.Linkposizione1.Target" class="home-box-circle @stileNormalizzato1"><em class="visitami-@stile1"></em><span class="home-box-hover"></span></a>
        <h2 class="home-box-title"><a title="@T("Go to page {0}", Model.ContentItem.BannerLinks.Linkposizione1.Text)" href="@NormalizeUrl(Model.ContentItem.BannerLinks.Linkposizione1.Value, prefix)" target="@Model.ContentItem.BannerLinks.Linkposizione1.Target">@Model.ContentItem.BannerLinks.Linkposizione1.Text</a></h2>
    </div>
</div>
<div class="col-xs-12 col-sm-3">
    <div class="home-box">
        <a title="@T("Go to page {0}", Model.ContentItem.BannerLinks.Linkposizione2.Text)" href="@NormalizeUrl(Model.ContentItem.BannerLinks.Linkposizione2.Value, prefix)" target="@Model.ContentItem.BannerLinks.Linkposizione2.Target" class="home-box-circle @stileNormalizzato2"><em class="visitami-@stile2"></em><span class="home-box-hover"></span></a>
        <h2 class="home-box-title"><a title="@T("Go to page {0}", Model.ContentItem.BannerLinks.Linkposizione2.Text)" href="@NormalizeUrl(Model.ContentItem.BannerLinks.Linkposizione2.Value, prefix)" target="@Model.ContentItem.BannerLinks.Linkposizione2.Target">@Model.ContentItem.BannerLinks.Linkposizione2.Text</a></h2>
    </div>
</div>
<div class="col-xs-12 col-sm-3">
    <div class="home-box">
        <a title="@T("Go to page {0}", Model.ContentItem.BannerLinks.Linkposizione3.Text)" href="@NormalizeUrl(Model.ContentItem.BannerLinks.Linkposizione3.Value, prefix)" target="@Model.ContentItem.BannerLinks.Linkposizione3.Target" class="home-box-circle @stileNormalizzato3"><em class="visitami-@stile3"></em><span class="home-box-hover"></span></a>
        <h2 class="home-box-title"><a title="@T("Go to page {0}", Model.ContentItem.BannerLinks.Linkposizione3.Text)" href="@NormalizeUrl(Model.ContentItem.BannerLinks.Linkposizione3.Value, prefix)" target="@Model.ContentItem.BannerLinks.Linkposizione3.Target">@Model.ContentItem.BannerLinks.Linkposizione3.Text</a></h2>
    </div>
</div>
<div class="col-xs-12 col-sm-3">
    <div class="home-box">
        <a title="@T("Go to page {0}", Model.ContentItem.BannerLinks.Linkposizione4.Text)" href="@NormalizeUrl(Model.ContentItem.BannerLinks.Linkposizione4.Value, prefix)" target="@Model.ContentItem.BannerLinks.Linkposizione4.Target" class="home-box-circle @stileNormalizzato4"><em class="visitami-@stile4"></em><span class="home-box-hover"></span></a>
        <h2 class="home-box-title"><a title="@T("Go to page {0}", Model.ContentItem.BannerLinks.Linkposizione4.Text)" href="@NormalizeUrl(Model.ContentItem.BannerLinks.Linkposizione4.Value, prefix)" target="@Model.ContentItem.BannerLinks.Linkposizione4.Target">@Model.ContentItem.BannerLinks.Linkposizione4.Text</a></h2>
    </div>
</div>
