@model Laser.Orchard.Queues.Models.QueueUserPart

<fieldset>
    <legend>@T("Associated Queues")</legend>
    <table style="margin-top:5px; width:50%;">
        <tr>
            <td>
                <u>@T("Queue ID")</u>
            </td>
            <td>
                <u>@T("Number")</u>
            </td>
        </tr>
        @{
            foreach (var queue in Model.UserQueues)
            {
                <tr>
                    <td>
                        @queue.QueueRecord.QueueName
                    </td>
                    <td>
                        @queue.QueueNumber
                    </td>
                </tr>
            }
         }
    </table>
</fieldset>
