@model Laser.Orchard.Claims.Models.ItemClaimsPartSettings

<fieldset>
    <legend></legend>
    <div>
        @Html.LabelFor(m => m.ForceDefault, T("Force default value"))
        @Html.CheckBoxFor(m => m.ForceDefault)
        <span class="hint">@T("Check to force default value on saving and to disable user editing on claims.")</span>
    </div>
    <div>
        @Html.LabelFor(m => m.ClaimsDefault, T("Default claims"))
        @Html.TextBoxFor(m => m.ClaimsDefault, new { @class = "text medium tokenized" })
        <span class="hint">
            @T("A claims in the following form: ,key1=val1,key2=val2,. Example: ,company=Microsoft,sector=marketing,country=italy,.")<br />
        </span>
    </div>
</fieldset>
@Display.TokenHint()