
@{
    
    //Setta i dati della vista collegandoli al modello settato dal controller che richiama la vista
    List<Laser.Orchard.UserReactions.ViewModels.UserReactionsVM> part = Model.UserReaction;
    
    //Aggiungi in testata la libreria jQuery
    
        Script.Require("jQuery").AtHead();

    }

@Html.AntiForgeryToken()

@{foreach (var item in part)
  { 
    @item.Quantity
    
   <a id="@item.TypeId">@item.TypeName</a>      
  }
}

<a style="visibility:hidden" id="pageid" >@Model.ContentItem.Id</a>

<script type="text/javascript">
    //Aggiungo il valore del campo nascosto AntiForgeryToken al valore data della funzione 
    //richiamata di JQuery
    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    $(document).ready(function () {

        $("a").bind("click", function (event) 
        {
            //Parameters
             
            //var userName = lato server
            //var datatimeins = lato server
          
            var ReactionTypeId = this.id;

            //Dato di test            
            var PageId = $("pageid").val();
            if (PageId == null)
                PageId = 1;

            //Chiamata ajax richiama metodo server GetReactionClicked nel controller ReactionAjax 
            //che verifica se l'utente deve fare un click in aggiunta oppure in decremento, quale icona cliccata 
            $.ajax(
                {                    
                    url: "@Url.Action("GetReactionClicked", "ReactionAjax", new { Area="Laser.Orchard.UserReactions" })",
                    success: function (result) {
                        alert(result);
                    },
                    type: "POST",
                    data: addRequestVerificationToken({ reactionTypeId: ReactionTypeId, pageId: PageId })
                    });
        });


    });


</script>