@using Laser.Orchard.UserReactions.Models
@using Laser.Orchard.UserReactions.ViewModels
@using Orchard.ContentManagement
@{
    List<Laser.Orchard.UserReactions.ViewModels.UserReactionsVM> part = Model.UserReaction;

    var settings = WorkContext.CurrentSite.As<UserReactionsSettingsPart>();
    Style.Require(settings.StyleFileNameProvider.ToString());
}

@{foreach (var item in part) 
  { 
        var quantità = "(" + @item.Quantity + ")";
        var itemName = " " + @item.TypeName + " " + quantità;
        string attCSS = @item.CssStyleName; 
           
        <div class="glyph">
        <span class="@attCSS"></span> 
        <b id="@item.TypeId">@itemName</b>
        </div>
    
    } 
} 
