 @{
     //Setta i dati della vista collegandoli al modello settato dal controller che richiama la vista
     List<Laser.Orchard.UserReactions.ViewModels.UserReactionsVM> part = Model.UserReaction;
     //Aggiungi il foglio di stile CSS definito nel file ResourceManifest.cs ed inserito nella cartella Styles
     //Style.Require("Reactions");
     
     var fileCss = part.FindLast(z => z.CssName!=null).CssName.ToString();
     Style.Require(fileCss);
    }

@{    
    
    
    
    //Aggiungi in testata la libreria jQuery
    
        Script.Require("jQuery").AtHead();
    }

@Html.AntiForgeryToken()


@{foreach (var item in part)
  { 
      var quantità = "(" + @item.Quantity + ")";
      var itemName = " " + @item.TypeName + " " + quantità;
      string attCSS = @item.CssStyleName;
      
      <div class="glyph">
      <span id="@item.TypeId" class="@attCSS"></span> 
      <b>@itemName</b>
     </div>
      
  }
}



<script type="text/javascript">
    //Aggiungo il valore del campo nascosto AntiForgeryToken al valore data della funzione 
    //richiamata di JQuery
    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    $(document).ready(function () {

        $("span").bind("click", function (event) 
        {
            //Parameters     
            var PageId = "@Model.ContentItem.Id";
            var ReactionTypeId = this.id;

            //Chiamata ajax richiama metodo server GetReactionClicked nel controller ReactionAjax 
            //che verifica se l'utente deve fare un click in aggiunta oppure in decremento, quale icona cliccata 
            $.ajax(
            {                    
                url: "@Url.Action("GetReactionClicked", "ReactionAjax", new { Area = "Laser.Orchard.UserReactions" })",
                success: function (result) {
                    //Ricarica la pagina aggiornando i valori                   
                    window.location.reload()

                    if (result == 0) {
                        alert("Il risultato è stato acquisito. A breve sarà disponibile sulla pagina");
                    }
                },
                type: "POST",
                data: addRequestVerificationToken({ reactionTypeId: ReactionTypeId, pageId: PageId})
            });
        });
        

    });


</script>