 @{
     //Setta i dati della vista collegandoli al modello settato dal controller che richiama la vista
     List<Laser.Orchard.UserReactions.ViewModels.UserReactionsVM> part = Model.UserReaction;
     //Aggiungi il foglio di stile CSS definito nel file ResourceManifest.cs ed inserito nella cartella Styles
    
     var fileCss = part.FindLast(z => z.CssName!=null).CssName.ToString();
     Style.Require(fileCss);
    }

@{    
   
    //Aggiungi in testata la libreria jQuery
    
        Script.Require("jQuery").AtHead();
    }

@Html.AntiForgeryToken()


@{foreach (var item in part) {
      var quantità = "(" + @item.Quantity + ")";
      var itemName = " " + @item.TypeName + " ";
      string attCSS = @item.CssStyleName;
      var id = @item.TypeId;
      
      <div class="glyph">      
          <span id="@item.TypeId" class="@attCSS"></span> 

          @{var itemNameCount = "itemName" + @id; }
          @{var itemQtyCount = "itemQuantity" + @id; }
          
          <b id="@itemNameCount">@itemName</b>
          <b id="@itemQtyCount">@quantità</b>
     </div>
      
  }
}



<script type="text/javascript">
    //Aggiungo il valore del campo nascosto AntiForgeryToken al valore data della funzione 
    //richiamata di JQuery
    function addRequestVerificationToken(data) {
        data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
        return data;
    };

    $(document).ready(function () {

        $("span").bind("click", function (event) 
        {
            //Parameters     
            var PageId = "@Model.ContentItem.Id";
            var ReactionTypeId = this.id;

            //Chiamata ajax richiama metodo server GetReactionClicked nel controller ReactionAjax 
            //che verifica se l'utente deve fare un click in aggiunta oppure in decremento, quale icona cliccata 
            $.ajax(
            {                    
                url: "@Url.Action("GetReactionClicked", "ReactionAjax", new { Area = "Laser.Orchard.UserReactions" })",
                success: function (result) {

                    var typeResult = result.split('|')[0];
                    var total = result.split('|')[1];
                    var typeReaction = result.split('|')[2];

                    //aggiornamento valori                   
                    if (typeResult == 0 || typeResult == 2) {
                        alert("Il risultato è stato acquisito. A breve sarà disponibile sulla pagina");
                    }

                    var nameitem = "#itemQuantity" + typeReaction;

                    if (typeResult == -1 || typeResult == 1)
                    {                                               
                        $(nameitem).html("(" + total + ")");
                    }

                },
                type: "POST",
                data: addRequestVerificationToken({ reactionTypeId: ReactionTypeId, pageId: PageId})
            });
        });
        

    });


</script>