@{
     Style.Require("Reactions");
}

@{
    List<Laser.Orchard.UserReactions.ViewModels.UserReactionsVM> part = Model.UserReaction;
    
    }

@{foreach (var item in part) 
  { 
   
        var quantità = "(" + @item.Quantity + ")";
        var itemName = " " + @item.TypeName + " " + quantità;
        string attCSS = @item.CssName; 
           
        <div class="glyph">
        <span class="@attCSS"></span> 
        <b id="@item.TypeId">@itemName</b>
        </div>
    } 
} 
    
    @* 
   @item.Quantity
    @item.TypeName

}*@