@using Orchard.ContentManagement;
@using Orchard.Core.Common.Models;
@using Orchard.Security;
@using Orchard.Localization.Models;
@using Laser.Orchard.Questionnaires.ViewModels;

@model List<Laser.Orchard.Questionnaires.ViewModels.DisplaRankingTemplateVM>

@{
    int devType = 0;
    string devStr = Model.FirstOrDefault().Device;
    if (devStr == "Apple") { devType = 1; }
    else if (devStr == "Android") { devType = 2; }
    else if (devStr == "Windows Phone") { devType = 3; }
}

@{
    Layout.LocalNavigation.Add(Display.LocalNavRankings(dType: devType, gId: Model.FirstOrDefault().GameID));
}



@{
    //Model is a list which contains the rankings tables for a given game 
    Layout.Title = T("Game Rankings for ") + Model.FirstOrDefault().Title;
}
    
@foreach(DisplaRankingTemplateVM drt in Model){
    //@Html.Raw("Device: " + drt.Device);
<table class="items" summary="@T("List of ranking.")">
  
    <thead>
        <tr>
              <th scope="col">@T("Identifier")</th>
            <th scope="col">@T("name")</th>
            <th scope="col">@T("point")</th> <!--//make this clickable to set the order to descending/ascending-->
            <th scope="col">@T("RegistrationDate")</th>
            <th scope="col">@T("UsernameGameCenter")</th>
            <th scope="col">@T("AccessSecured")</th>
            <th scope="col">@T("Device")</th>
            <th scope="col">@T("ContentIdentifier")</th>
        </tr>
    </thead>
    @foreach(RankingTemplateVM rt in drt.ListRank){
    <tr>
        <td>
            @rt.Identifier
        </td>
               <td>
            @rt.name
        </td>
               <td>
            @rt.Point
        </td>
               <td>
            @rt.RegistrationDate
        </td>
               <td>
            @rt.UsernameGameCenter
        </td>
               <td>
            @rt.AccessSecured
        </td>
               <td>
            @rt.Device
        </td>
               <td>
            @rt.ContentIdentifier
        </td>
    </tr>
    }
</table>
}
