@model Laser.Orchard.Cache.Models.CacheUrlRecord
@using (Html.BeginForm("Edit", "CacheUrlAdmin", FormMethod.Post)) {
    @Html.AntiForgeryToken()
    <div style="float:right;">
        <button type="submit" class="button primaryAction">@T("Save")</button>
        @*<a class="button primaryAction" href="@Url.Action("Edit", "CacheUrlAdmin", new { area = "Laser.Orchard.Cache", id = 0 })" title="@T("Save")">@T("Save")</a>*@
    </div>
<div class="singleCacheUrl">
    <fieldset>
        <label>@T("Url Scrap")</label>
        @Html.TextBoxFor(m => m.CacheURL, new { @class = "text large" })
        <span class="hint">@T("Empty 'Url Scrap' to delete row")</span>
        @Html.HiddenFor(m => m.Id)
        <div style="float:left">
            <label>@T("Duration")</label>
            @Html.TextBoxFor(m => m.CacheDuration, new { @class = "text small" })
        </div>
        <div style="float:left">
            <label>@T("Grace Time")</label>
            @Html.TextBoxFor(m => m.CacheGraceTime, new { @class = "text small" })
        </div>
        <div>
            <label>@T("Priority")</label>
            @Html.TextBoxFor(m => m.Priority, new { @class = "text small" })
        </div>
        <div>
            <label>@T("User Tokens")</label>
            @Html.TextBoxFor(m => m.CacheToken, new { @class = "text large tokenized" })
        </div>
        @Display.TokenHint()
    </fieldset>
</div>
}