@model Contrib.CookieCuttr.ViewModels.CookiecuttrEditModel
@{
    var settings = Model.CookiecuttrSettings;
 }

<legend>@T("CookieCuttr Settings")</legend>
@*<p>Visit the official <a href="http://cookiecuttr.com/#options">cookiecuttr plugin page</a> to learn more about the configurable options</p>*@
<fieldset class="analytics">

    @if (settings.cookieAnalytics) {
        <div>
            <legend style="margin-top: 20px; margin-bottom: 10px;">Messages</legend>
            <div>
                <label for="CookiecuttrSettings_cookieAnalyticsMessage">@T("Analytics Message (this is the default message)")</label>
                @Html.TextAreaFor(m => m.Cookiecuttr.cookieAnalyticsMessage, new { @class = "text medium" })
            </div>
            <legend style="margin-top: 20px; margin-bottom: 10px;">Links</legend>
            <div>
                <label for="CookiecuttrSettings_cookieAnalyticsMessage">@T("Change 'What are Cookies' link text")</label>
                @Html.TextBoxFor(m => m.Cookiecuttr.cookieWhatAreLinkText, new { @class = "text medium" })
            </div>
            <div>
                <label for="CookiecuttrSettings_cookieWhatAreTheyLink">@T("'What are Cookies' link")</label>
                @Html.TextBoxFor(m => m.Cookiecuttr.cookieWhatAreTheyLink, new { @class = "text medium" })
            </div>
        </div>
    } else {
        <div>
            <legend style="margin-top: 30px; margin-bottom: 10px;">Messages</legend>
            <div>
                <label for="CookiecuttrSettings_cookieMessage">@T("'Cookie Privacy link' Message")</label>
                @Html.TextAreaFor(m => m.Cookiecuttr.cookieMessage, new { @class = "text medium" })
                <span class="hint">@T("remember to keep the {{cookiePolicyLink}} variable intact.")</span>
            </div>
            <legend style="margin-top: 20px; margin-bottom: 10px;">Links</legend>
            <div>
                <label for="CookiecuttrSettings_cookiePolicyLink">@T("Your privacy policy / Cookie policy link")</label>
                @Html.TextBoxFor(m => m.Cookiecuttr.cookiePolicyLink, new { @class = "text medium" })
            </div>
        </div>
    }

</fieldset>

<fieldset class="buttons">
    <legend style="margin-top: 30px; margin-bottom: 10px;">Buttons Text</legend>
    <div @(settings.showCookieAcceptButton ? "" : "style=display:none")>
        <label for="CookiecuttrSettings_cookieAcceptButtonText">@T("Change 'Accept Cookies' button text")</label>
        @Html.TextBoxFor(m => m.Cookiecuttr.cookieAcceptButtonText, new { @class = "text medium" })
    </div>
    <div @(settings.showCookieDeclineButton ? "" : "style=display:none")>
        <label for="CookiecuttrSettings_cookieDeclineButtonText">@T("Change 'Decline Cookies' button text")</label>
        @Html.TextBoxFor(m => m.Cookiecuttr.cookieDeclineButtonText, new { @class = "text medium" })
    </div>
    <div @(settings.showCookieResetButton ? "" : "style=display:none")>
        <label for="CookiecuttrSettings_cookieResetButtonText">@T("Change 'Reset Cookies' button text")</label>
        @Html.TextBoxFor(m => m.Cookiecuttr.cookieResetButtonText, new { @class = "text medium" })
    </div>
</fieldset>
<br />