@model Laser.Orchard.StartupConfig.ColorPicker.ColorPickerField
@using Laser.Orchard.StartupConfig.ColorPicker;
@{ 
    Style.Include("spectrum.css");
    Script.Require("spectrum").AtHead();
    var fieldSettings = Model.PartFieldDefinition.Settings.GetModel<ColorPickerFieldSettings>();
}
<fieldset>
    <label>@Model.DisplayName</label>
    <input type="color" id="@Html.FieldIdFor(m => m.Value)" name="@Html.FieldNameFor(m => m.Value)" value="@Model.Value" title="@Model.Value" />
    <script type="text/javascript">
        $("#@Html.FieldIdFor(m => m.Value)").spectrum({showInput:true,showPalette:true,showInitial:true,preferredFormat:"hex",showButtons:false});
    </script>
    <span class="hint">@fieldSettings.Hint</span>
</fieldset>
