@model Laser.Orchard.Mobile.ViewModels.PushMobileSettingsVM
<fieldset>
    <legend>@T("Push Mobile Settings")</legend>
    <div class="editor-field">
        <fieldset>
            <h2>Android</h2>
            @Html.LabelFor(m => m.AndroidApiKey, T("Android ApiKey"))
            @Html.TextBoxFor(m => m.AndroidApiKey)
        </fieldset>

        <fieldset>
            <h2>Android Development</h2>
            @Html.LabelFor(m => m.AndroidApiKeyDevelopment, T("Android ApiKey Development"))
            @Html.TextBoxFor(m => m.AndroidApiKeyDevelopment)
        </fieldset>
        <fieldset>
            <h2>Android Push Service URL</h2>
            @Html.LabelFor(m => m.AndroidPushServiceUrl, T("Push service URL"))
            @Html.TextBoxFor(m => m.AndroidPushServiceUrl)
            <span class="hint">@T("Leave blank to use Gcm default URL or set to the Firebase Service URL: https://fcm.googleapis.com/fcm/send")</span>
        </fieldset>
        <fieldset>
            <h2>Apple</h2>
            @Html.LabelFor(m => m.ApplePushSound, T("Apple Push Sound"))
            @Html.TextBoxFor(m => m.ApplePushSound)
        </fieldset>
        <fieldset>
            <h2>@T("Apple Production")</h2>
            @Html.LabelFor(m => m.AppleCertificatePassword, T("Apple Certificate Password"))
            @Html.TextBoxFor(m => m.AppleCertificatePassword)
            @Html.LabelFor(m => m.ApplePathCertificateFile, T("Apple Path Certificate File"))
            @Html.DropDownListFor(m => m.ApplePathCertificateFile, Model.ListOfCertificates, "")
        </fieldset>
        <fieldset>
            <h2>@T("Apple Development")</h2>
            @Html.LabelFor(m => m.AppleCertificatePasswordDevelopment, T("Apple Certificate Password Development"))
            @Html.TextBoxFor(m => m.AppleCertificatePasswordDevelopment)
            @Html.LabelFor(m => m.ApplePathCertificateFileDevelopment, T("Apple Path Certificate File Development"))
            @Html.DropDownListFor(m => m.ApplePathCertificateFileDevelopment, Model.ListOfCertificatesDevelopment, "")
        </fieldset>
        <fieldset>
            <h2>Windows Mobile</h2>
            @Html.LabelFor(m => m.WindowsAppPackageName, T("Windows App Package Name"))
            @Html.TextBoxFor(m => m.WindowsAppPackageName)
            @Html.LabelFor(m => m.WindowsAppSecurityIdentifier, T("Windows App Security Identifier"))
            @Html.TextBoxFor(m => m.WindowsAppSecurityIdentifier)
            @Html.LabelFor(m => m.WindowsEndPoint, T("Windows EndPoint"))
            @Html.TextBoxFor(m => m.WindowsEndPoint)
        </fieldset>

        <fieldset>
            <h2>@T("Setting Backoffice")</h2>

            <div class="checkbox-and-label">
                @Html.CheckBoxFor(m => m.ShowTestOptions)
                <label for="@Html.FieldIdFor(m => m.ShowTestOptions)" class="forcheckbox">@T("Show Test Options") </label>
                <span class="hint">@T("Will able back office to send push to development device")</span>
            </div>
        </fieldset>
        <fieldset>
            <h2>@T("Setting Taxonomy")</h2>
            @Html.LabelFor(m => m.TaxonomyName, T("Enter Taxonomy Name used"))
      @*    //  @Html.TextBoxFor(m => m.TaxonomyName)*@
                    @Html.DropDownListFor(m => m.TaxonomyName, Model.ListOfTaxonomies, "")


        </fieldset>
</div>
</fieldset>
