<div class="elenco-con-foto">
    <div class="space-20"></div>
    <div class="row">
        @{
            var i = 0;
        }
        @foreach (var content in Model.ContentItems) {
            i++;
            if (i % 3 == 1) { 
            @Html.Raw("</div>");
            @Html.Raw("<div class=\"row\">");
            }
            string bodyHtml = content.BodyPart.Text.ToString();
            var body = new HtmlString(Html.Excerpt(bodyHtml, 400).ToString().Replace(Environment.NewLine, "</p>" + Environment.NewLine + "<p>")); 

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    @{
            var mediaUrl = content.Page.Gallery.FirstMediaUrl;
            if (mediaUrl != null) {
                        <img src="@Display.ResizeMediaUrl(Width: 500, Height: 314, Mode: "crop", Alignment: "middlecenter", Path: mediaUrl)" alt="@T("thumbnail for {0}", content.TitlePart.Title)" style="opacity: 1;" />
            }
                    }
                    <div class="caption">
                        <h3>@content.TitlePart.Title</h3>
                        @body
                        <p><a href="@Url.ItemDisplayUrl((Orchard.ContentManagement.IContent)content)" class="btn btn-primary" role="button">@T("Show more...")</a></p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


