@using Orchard.ContentPicker.Fields
@using Orchard.Utility.Extensions;

@{
    var field = (ContentPickerField)Model.ContentField;
    string name = field.DisplayName;
    var contentItems = field.ContentItems;
}

@if (contentItems.Any()) {
    <h2 class="titolo">I giocatori</h2>
    <hr class="linea" />
    <div class="box-giocatori">
        <!-- Tab panes -->
        <div class="tab-content">

            @foreach (var contentItem in contentItems) {
                <div role="tabpanel" class="tab-pane active" id="giocatore-@contentItem.Id">
                    <div class="box-img-giocatore">
                        <img src="@Display.ResizeMediaUrl(Width: 193, Height: 223, Mode: "crop", Alignment: "middlecenter", Path: ((dynamic)contentItem).Componenti.Gallery.FirstMediaUrl)" class="img-responsive">
                        <p class="ruolo">@(((dynamic)contentItem).Componenti.Ruolo.Terms[0].Name)</p>
                    </div>
                </div>
            }
        </div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            @{var classToRender = "active";}
            @foreach (var contentItem in contentItems) {
                
                <li role="presentation" class="@classToRender">
                    <h3 class="nome-giocatore">
                        <a href="#giocatore-@contentItem.Id" aria-controls="giocatore-@contentItem.Id" role="tab" data-toggle="tab">@(((dynamic)contentItem).Componenti.Nome.Value) @(((dynamic)contentItem).Componenti.Cognome.Value)
                        </a>
                    </h3>
                </li>
                classToRender = "";
            }
        </ul>
    </div>
} 



@*    <h2 class="titolo">I giocatori</h2>
    <hr class="linea">
<div class="box-giocatori">
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="uno">
            <div class="box-img-giocatore">
                <img src="images/img-giocatore.jpg" class="img-responsive">
                <p class="ruolo">Attaccante</p>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="due">
            <div class="box-img-giocatore">
                <img src="images/img-giocatore.jpg" class="img-responsive">
                <p class="ruolo">Difensore</p>
            </div>
        </div>
    </div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <h3 class="nome-giocatore">
                <a href="#uno" aria-controls="uno" role="tab" data-toggle="tab">Edoardo Bellaver
                </a>
            </h3>
        </li>
        <li role="presentation">
            <h3 class="nome-giocatore">
                <a href="#due" aria-controls="due" role="tab" data-toggle="tab">Matteo Cili tos
                </a>
            </h3>
        </li>
    </ul>
</div>*@