@functions {
    // To support the layout classifaction below. Implementing as a razor function because we can, could otherwise be a Func<string[], string, string> in the code block following.
    string CalcuClassify(string[] zoneNames, string classNamePrefix) {
        var zoneCounter = 0;
        var zoneNumsFilled = string.Join("", zoneNames.Select(zoneName => { ++zoneCounter; return Model[zoneName] != null ? zoneCounter.ToString() : ""; }).ToArray());
        return HasText(zoneNumsFilled) ? classNamePrefix + zoneNumsFilled : "";
    }
}
@{
    /* Global includes for the theme moved to Document.cshtml
    ***************************************************************/


    /* Some useful shortcuts or settings
    ***************************************************************/

    Func<dynamic, dynamic> Zone = x => Display(x); // Zone as an alias for Display to help make it obvious when we're displaying zones

    /* Layout classification based on filled zones
    ***************************************************************/

    //Add classes to the wrapper div to toggle aside widget zones on and off
    var asideClass = CalcuClassify(new[] { "AsideFirst", "AsideSecond" }, "aside-"); // for aside-1, aside-2 or aside-12 if any of the aside zones are filled
    if (HasText(asideClass)) {
        Model.Classes.Add(asideClass);
    }

    //Add classes to the wrapper div to toggle tripel widget zones on and off
    var tripelClass = CalcuClassify(new[] { "TripelFirst", "TripelSecond", "TripelThird" }, "tripel-"); // for tripel-1, triple-2, etc. if any of the tripel zones are filled
    if (HasText(tripelClass)) {
        Model.Classes.Add(tripelClass);
    }

    //Add classes to the wrapper div to toggle quad widget zones on and off
    var footerQuadClass = CalcuClassify(new[] { "FooterQuadFirst", "FooterQuadSecond", "FooterQuadThird", "FooterQuadFourth" }, "split-"); // for quad-1, quad-2, etc. if any of the quad zones are filled
    if (HasText(footerQuadClass)) {
        Model.Classes.Add(footerQuadClass);
    }

    /* Inserting some ad hoc shapes
    ***************************************************************/
    WorkContext.Layout.Logo.Add(New.Branding(), "1");
    //WorkContext.Layout.Footer.Add(New.BadgeOfHonor(), "5"); // Powered by Orchard
    //WorkContext.Layout.Footer.Add(New.User(), "10"); // Login and dashboard links

    /* Last bit of code to prep the layout wrapper
    ***************************************************************/

    Model.Id = "layout-wrapper";
    Model.Classes.Add("main-bg");
    var tag = Tag(Model, "div"); // using Tag so the layout div gets the classes, id and other attributes added to the Model
    var subthemePath = Url.Content("~/Themes/IvreaMontalto/Styles");
    var settings = WorkContext.Resolve<Orchard.Environment.Configuration.ShellSettings>();
    var host = settings.RequestUrlHost;
    var prefix = settings.RequestUrlPrefix;
    var urlPath = (Request.Path.EndsWith("/") ? Request.Path : Request.Path + "/");
    var urlHome = Url.Content("~/" + (!String.IsNullOrWhiteSpace(prefix) ? prefix + "/" : ""));

        //var mainPath = "/Laser.Orchard/ivreamontalto";

}
<div id="page" class="hfeed site">
    @if (Model.Header != null) { 
        @Zone(Model.Header)
    }
    <div id="slider">
        <div>
            @{
                var slideclass = "slide";
                if (!urlPath.Equals(urlHome, StringComparison.InvariantCultureIgnoreCase)) {
                    slideclass += " minimized";
                }
            }
            <div style="background-image: url(@subthemePath/images/slide-1.jpg)" class="@slideclass"></div>
        </div>
        <!--
                <div>
                    <div style="background-image:url(images/slide-2.jpg)" class="slide"></div>
                </div>
                -->
    </div>
    <script>
        jQuery(document).ready(function () {
            jQuery('#slider').slick({
                autoplay: true,
                autoplaySpeed: 2500,
                lazyLoad: 'progressive',
                cssEase: 'linear',
                fade: true,
                dots: false,
                arrows: false
            });
        });
    </script>
    <img src="@subthemePath/images/contorno-slide.png" alt="Ivrea Moltalto" class="img-responsive contorno-slide">
    <div class="container">
        <a href="@Url.Content("~/")">
            <img src="@subthemePath/images/logo.png" alt="Ivrea Moltalto" class="img-responsive logo">
        </a>
    </div>
    <div id="content" class="site-content">
        <img src="@subthemePath/images/logo-sfondo.png" alt="Ivrea Moltalto" class="img-responsive logo-sfondo visible-lg">
        <img src="@subthemePath/images/pallone-sfondo.png" alt="Ivrea Moltalto" class="img-responsive pallone-sfondo visible-lg">
        <div class="container no-padding">
            <nav role="navigation" class="navbar navbar-default">
                <div class="navbar-header">
                    <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse no-padding">
                    @if (Model.Navigation != null) { 
                        @Zone(Model.Navigation)
                    }
                </div>
            </nav>
        </div>
        <div class="container bg-white">
            <div id="social">
                <a href="/contatti" class="link-contatti">Contatti
                </a>
                <a href="https://www.facebook.com/montaltese.calcio/" target="_blank">
                    <span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span>
                </a>
                <a href="https://twitter.com/IvreaMontalto?lang=it" target="_blank">
                    <span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span>
                </a>
            </div>
            <div class="clear"></div>
            @{
                var colmd = 12;
                if (Model.Content != null && Model.AsideSecond != null) {
                    colmd = 8;
                }
            }
            @if (Model.Messages != null) {
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        @Zone(Model.Messages)
                    </div>
                </div>
            }

            @if (Model.Content != null) {
                <div class="col-xs-12 col-sm-12 col-md-@colmd">
                    @Zone(Model.Content)
                </div>
            }
            @if (Model.AsideSecond != null) {

                <div class="col-xs-12 col-sm-12 col-md-4">
                    @Zone(Model.AsideSecond)

                </div>
            }
        </div>

    </div>
</div>

<script>
    function resize() {
        var dim = jQuery(".container-map").width();
        jQuery(".container-map").height(dim);
    }

    jQuery(window).resize(function () {
        resize();
    });

    jQuery(document).ready(function () {
        resize();
    });
</script>

<div id="footer">
    <div class="bg-scuro">
        <div class="space-40"></div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="container-map">
                        <div id="mappa1" class="mappa"></div>
                        <script>
                            var map;
                            var image = '@subthemePath/images/marker.png';
                            var marker;

                            function initialize() {
                                var mapProp = {
                                    center: new google.maps.LatLng(45.4656434, 7.8825268),
                                    zoom: 12,
                                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                                    scrollwheel: true,
                                    draggable: true,
                                    disableDefaultUI: true
                                };

                                map = new google.maps.Map(document.getElementById("mappa1"), mapProp);

                                marker = new google.maps.Marker({
                                    position: new google.maps.LatLng(45.4656434, 7.8825268),
                                    map: map,
                                    title: 'Campo Sportivo G. Pistoni',
                                    animation: google.maps.Animation.DROP,
                                    icon: image
                                });
                            }
                            google.maps.event.addDomListener(window, 'load', initialize);
                        </script>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="box-dati-mappe">
                        <h3 class="titolo-mappe">U.S.D. Ivrea Montalto<br />
                            Campo Sportivo G. Pistoni
                        </h3>
                        <p class="testo-mappe">
                            Ingresso consentito a:<br />
                            Giocatori, Allenatori, Dirigenti<br />
                            e per informazioni<br />
                            Via Grande Torino snc<br />
                            Ivrea 10015 - TO
                        </p>
                    </div>
                </div>
                <div class="space-20 visible-sm"></div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="container-map">
                        <div id="mappa2" class="mappa"></div>
                        <script>
                            var map;
                            var image = '@subthemePath/images/marker.png';
                            var marker;

                            function initialize() {
                                var mapProp = {
                                    center: new google.maps.LatLng(45.4910237, 7.8592413),
                                    zoom: 12,
                                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                                    scrollwheel: true,
                                    draggable: true,
                                    disableDefaultUI: true
                                };

                                map = new google.maps.Map(document.getElementById("mappa2"), mapProp);

                                marker = new google.maps.Marker({
                                    position: new google.maps.LatLng(45.4910237, 7.8592413),
                                    map: map,
                                    title: 'Campo Sportivo D. Accotto',
                                    animation: google.maps.Animation.DROP,
                                    icon: image
                                });
                            }
                            google.maps.event.addDomListener(window, 'load', initialize);
                        </script>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="box-dati-mappe">
                        <h3 class="titolo-mappe">Campo Sportivo<br />
                            D. Accotto
                        </h3>
                        <p class="testo-mappe">
                            Ingresso<br />
                            Regione Ghiare<br />
                            Montalto Dora<br />
                            10016 - TO
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-40 hidden-xs"></div>
    </div>
    <div class="credits">
        <div class="container">
            Unione Sportiva Dilettantistica Ivrea Montalto | <a href="/cookie-policy">Normativa Privacy</a> | e-mail: <a href="mailto:usdivrea@libero.it">usdivrea@libero.it</a>
        </div>
    </div>
</div>
</div>
