@using Orchard.Utility.Extensions
@using Laser.Orchard.ContactForm.ViewModels
@{
    Script.Require("jQuery").AtHead();
    Script.Require("jQueryColorBox").AtHead();
    Style.Require("jQueryColorBox").AtHead();
    Style.Include("ContactForm.css").AtHead();
    const string displayNone = "style=\"display:none\"";
    var contactForm = (ContactFormViewModel)Model.ContactForm;
    var displaySubject = contactForm.ShowSubjectField ? string.Empty : displayNone;
    var displayName = contactForm.ShowNameField ? string.Empty : displayNone;
    var displayAttachmentButton = contactForm.EnableFileUpload ? string.Empty : displayNone;
    var uniqueId = Model.ContentPart.Id;
}
@{using (Html.BeginForm("sendcontactemail", "contactform", new { area = "Laser.Orchard.ContactForm" }, FormMethod.Post, new { @class = "contact-form" })) {
    <div class="space-20"></div> 
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label" for="Name">@T("Name")</label><br />
                <input id="Name-@uniqueId" class="text" size="40" name="Name" type="text" placeholder="@T("Your Name")" />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label" for="Email">@T("Email")</label><br />
                <input id="Email-@uniqueId" class="text medium" size="40" name="Email" type="text" placeholder="@T("Email Address")" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
               <label class="control-label" for="ConfirmEmail">@T("Confirm Email")</label><br />
                <input id="ConfirmEmail-@uniqueId" class="text medium" size="40" name="ConfirmEmail" type="text" placeholder="@T("Confirm Email Address")" />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label" for="Subject">@T("Subject")</label><br />
                <input id="Subject-@uniqueId" class="text medium" size="40" name="Subject" type="text" placeholder="@T("Subject")" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="Message">@T("Message")</label><br />
                <textarea id="Message-@uniqueId" class="text" name="Message" placeholder="@T("Comments or Inquiry")" cols="40" rows="10"></textarea>
            </div>
        </div>
    </div>

    <div class="clear"></div>
    <div id="AttachmentSection-@uniqueId" type="hidden">
        <img id="AttachmentPreview-@uniqueId" ></img>
        <label id="AttachmentNameLabel-@uniqueId"></label>
        <br />
    </div>
    <input id="ReturnUrl-@uniqueId" name="ReturnUrl" type="hidden" value="@Context.Request.ToUrlString()" />
    <input id="Id-@uniqueId" name="Id" type="hidden" value="@uniqueId" />
    <input id="MediaId-@uniqueId" name="MediaId" type="hidden" value="" />
    @Html.AntiForgeryTokenOrchard()
    <input id="attachment_button-@uniqueId" type="button" @Html.Raw(displayAttachmentButton) value="@T("Add attachment")" />
    <input type="submit" value="@T("Send")" class="btn btn-invia" />

  }
}

@using (Script.Head()) {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#attachment_button-@uniqueId').click(function () {
                 $.colorbox({ iframe: true, width: "40%", height: "26%", href: "@(Url.Action("Add", "FileUpload", new { Area = "Laser.Orchard.ContactForm" }) + "?ContactFormID=" + uniqueId)", title: "@T("Upload file")" });
             });

             $('#MediaId-@uniqueId').change(function () {
                 if ($('#MediaId-@uniqueId').val() != '') {
                     $('#attachment_button-@uniqueId').attr('disabled', 'disabled');
                 }
             });
         });
    </script>
}